openapi: 3.0.3
info:
  title: topi Seller catalog offer API
  description: '# Localization


    Strings returned can be localized when the _Accept-Language_ header is provided in the request. It should follow the [RFC-2616 convention](http://www.ietf.org/rfc/rfc2616.txt).

    '
  version: 1.0.0
servers:
- url: https://seller-api-sandbox.topi-sandbox.eu
- url: https://seller-api.topi.eu
- url: https://seller-api.topi-staging.eu
- url: https://seller-api-sandbox.topi-sandbox-staging.eu
tags:
- name: offer
  description: "Provides operations to handle offers for end-customers.\n\n## Webhooks\n\n### OfferUpdates\n\nWe will ping the URL provided whenever an offer has changed its status to: `\"accepted\"`, `\"declined\"`, `\"voided\"`, `\"pending_review\"` or `\"expired\"`.\n\n**Payload**:\n\n-  same as [show offer](#tag/offer/operation/offer#show)\n    - `id`: `string`\n    - `created_at`: `string <date-time>`\n    - `status`: `string enum: \"accepted\" | \"declined\" | \"pending_review\" | \"voided\" | \"expired\"`\n    - `checkout_redirect_url`: `string <uri>`\n"
paths:
  /v1/offers:
    get:
      tags:
      - offer
      summary: List all offers (deprecated)
      description: 'Lists the offers created by the calling seller, with filters or query. (deprecated)


        This method is deprecated. Please use [List all offers with pagination](#/offer/listOffersPaginated) instead.'
      operationId: offer#listOffers
      parameters:
      - name: query
        in: query
        description: Search query. It can be a string or a number or both
        allowEmptyValue: true
        schema:
          type: string
          description: Search query. It can be a string or a number or both
          example: status
        examples:
          default:
            summary: default
            value: status
      - name: created_by
        in: query
        description: a comma-separated list of sales agents emails
        allowEmptyValue: true
        schema:
          type: string
          description: a comma-separated list of sales agents emails
          example: sales-agent@example.com,anothergreatone@example.com
        example: sales-agent@example.com,anothergreatone@example.com
      - name: partners_only
        in: query
        description: a boolean indicating whether to retrieve offers from partner sellers only
        allowEmptyValue: true
        schema:
          type: boolean
          description: a boolean indicating whether to retrieve offers from partner sellers only
          example: false
        example: false
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OfferResult'
                example:
                - checkout_redirect_url: https://example.com/foo
                  created_at: '1970-01-01T00:00:01Z'
                  customer:
                    company:
                      billing_address:
                        city: Munich
                        country_code: DE
                        line1: 10 Downing Street
                        line2: Flat 42
                        postal_code: '10243'
                        region: Bavaria
                      name: Unicorn Corp
                      tax_number: '123456789'
                      vat_number: DE123456789
                    customer_group: education
                    email: alice@example.com
                    full_name: John Butler
                    phone_number: abc123
                  expires_at: '1970-01-01T00:00:01Z'
                  id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  lines:
                  - applied_discount_id: abc123
                    available_contract_terms:
                      pay_now:
                        amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                          tax_rate: 1900
                        id: 739b63c2-9e58-4964-b38d-4ebb424de242
                      rent:
                        duration: 12
                        id: 739b63c2-9e58-4964-b38d-4ebb424de242
                        monthly_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                          tax_rate: 1900
                    base_rental_price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    bundle_id: abc123
                    id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    origin: abc123
                    pretty_id: abc123
                    price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    pricing_category: abc123
                    product_id: abc123
                    quantity: 2
                    selected_contract_type: abc123
                    seller_product_references:
                    - reference: 123ab-5343
                      source: sap
                    sublines:
                    - applied_discount_id: abc123
                      available_contract_terms:
                        pay_now:
                          amount:
                            currency: EUR
                            gross: 119000
                            net: 100000
                            tax_rate: 1900
                          id: 739b63c2-9e58-4964-b38d-4ebb424de242
                        rent:
                          duration: 12
                          id: 739b63c2-9e58-4964-b38d-4ebb424de242
                          monthly_amount:
                            currency: EUR
                            gross: 119000
                            net: 100000
                            tax_rate: 1900
                      base_rental_price:
                        currency: EUR
                        gross: 119000
                        net: 100000
                      bundle_id: abc123
                      id: 739b63c2-9e58-4964-b38d-4ebb424de242
                      origin: abc123
                      pretty_id: abc123
                      price:
                        currency: EUR
                        gross: 119000
                        net: 100000
                      pricing_category: abc123
                      product_id: abc123
                      quantity: 2
                      selected_contract_type: abc123
                      seller_product_references:
                      - reference: 123ab-5343
                        source: sap
                      subtitle: abc123
                      title: abc123
                    subtitle: abc123
                    title: abc123
                  metadata:
                    affiliate_code: '123456'
                  pricing_overview:
                    breakdown:
                    - amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                      title: Monthly (x36)
                      tooltip: The first rent fee is included in the first payment. More details later, in topi checkout.
                    instead_of_amount:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    items_summaries:
                    - identifier: abc123
                      pay_now:
                        pay_now_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                      pay_now_excluding_sublines:
                        pay_now_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                      rent:
                      - duration: 12
                        monthly_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                      rent_excluding_sublines:
                      - duration: 12
                        monthly_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                      total_pay_now:
                        pay_now_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                      total_rent:
                      - duration: 12
                        monthly_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                    shipping_amount:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    total_amount:
                      currency: EUR
                      gross: 119000
                      net: 100000
                  sales_agent:
                    email: alice@example.com
                    external_agent_id: abc123
                    name: abc123
                    phone: abc123
                  sales_channel: ecommerce
                  seller_offer_redirect_url: https://example.com/foo
                  seller_offer_reference: ref-1234
                  shipping:
                    is_in_store_pickup: false
                    price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    seller_shipping_reference: Sandbox Shipping Service
                  shipping_address:
                    city: Munich
                    country_code: DE
                    line1: 10 Downing Street
                    line2: Flat 42
                    postal_code: '10243'
                    recipient_name: Felix Wolf
                    region: Bavaria
                  status: voided
              example:
              - checkout_redirect_url: https://example.com/foo
                created_at: '1970-01-01T00:00:01Z'
                customer:
                  company:
                    billing_address:
                      city: Munich
                      country_code: DE
                      line1: 10 Downing Street
                      line2: Flat 42
                      postal_code: '10243'
                      region: Bavaria
                    name: Unicorn Corp
                    tax_number: '123456789'
                    vat_number: DE123456789
                  customer_group: education
                  email: alice@example.com
                  full_name: John Butler
                  phone_number: abc123
                expires_at: '1970-01-01T00:00:01Z'
                id: 739b63c2-9e58-4964-b38d-4ebb424de242
                lines:
                - applied_discount_id: abc123
                  available_contract_terms:
                    pay_now:
                      amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                        tax_rate: 1900
                      id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    rent:
                      duration: 12
                      id: 739b63c2-9e58-4964-b38d-4ebb424de242
                      monthly_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                        tax_rate: 1900
                  base_rental_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  bundle_id: abc123
                  id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  origin: abc123
                  pretty_id: abc123
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  pricing_category: abc123
                  product_id: abc123
                  quantity: 2
                  selected_contract_type: abc123
                  seller_product_references:
                  - reference: 123ab-5343
                    source: sap
                  sublines:
                  - applied_discount_id: abc123
                    available_contract_terms:
                      pay_now:
                        amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                          tax_rate: 1900
                        id: 739b63c2-9e58-4964-b38d-4ebb424de242
                      rent:
                        duration: 12
                        id: 739b63c2-9e58-4964-b38d-4ebb424de242
                        monthly_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                          tax_rate: 1900
                    base_rental_price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    bundle_id: abc123
                    id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    origin: abc123
                    pretty_id: abc123
                    price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    pricing_category: abc123
                    product_id: abc123
                    quantity: 2
                    selected_contract_type: abc123
                    seller_product_references:
                    - reference: 123ab-5343
                      source: sap
                    subtitle: abc123
                    title: abc123
                  subtitle: abc123
                  title: abc123
                metadata:
                  affiliate_code: '123456'
                pricing_overview:
                  breakdown:
                  - amount:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    title: Monthly (x36)
                    tooltip: The first rent fee is included in the first payment. More details later, in topi checkout.
                  instead_of_amount:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  items_summaries:
                  - identifier: abc123
                    pay_now:
                      pay_now_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                    pay_now_excluding_sublines:
                      pay_now_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                    rent:
                    - duration: 12
                      monthly_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                    rent_excluding_sublines:
                    - duration: 12
                      monthly_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                    total_pay_now:
                      pay_now_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                    total_rent:
                    - duration: 12
                      monthly_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                  shipping_amount:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  total_amount:
                    currency: EUR
                    gross: 119000
                    net: 100000
                sales_agent:
                  email: alice@example.com
                  external_agent_id: abc123
                  name: abc123
                  phone: abc123
                sales_channel: ecommerce
                seller_offer_redirect_url: https://example.com/foo
                seller_offer_reference: ref-1234
                shipping:
                  is_in_store_pickup: false
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  seller_shipping_reference: Sandbox Shipping Service
                shipping_address:
                  city: Munich
                  country_code: DE
                  line1: 10 Downing Street
                  line2: Flat 42
                  postal_code: '10243'
                  recipient_name: Felix Wolf
                  region: Bavaria
                status: voided
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: true
      security:
      - OAuth2Seller_header_Authorization:
        - seller-offer:read
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl -X GET https://seller-api.topi.eu/v1/offers \\\n  -H \"Authorization: Bearer $ACCESS_TOKEN\"\n"
      - lang: javascript
        label: JavaScript (fetch)
        source: "const response = await fetch('https://seller-api.topi.eu/v1/offers', {\n  method: 'GET',\n  headers: {\n    'Authorization': `Bearer ${ACCESS_TOKEN}`\n  }\n});\n\nconst data = await response.json();\nconsole.log(data);\n"
    post:
      tags:
      - offer
      summary: Create an offer
      description: 'Creates a topi offer.


        Returns HTTP 200 plus basic information about the offer on success.


        The request returns an HTTP Unprocessable Entity in the following scenarios:


        - When `"lines"` is an empty array.

        - When `"lines"` contains any products that are not available in the topi catalog

        - When the `"seller_offer_reference"` is reusing a value of an offer that is currently active


        ## When using in the Sandbox


        The following seller offer references are considered to be "active":


        - `"ref-1234"`


        The following seller product references are considered to be available in the catalog:


        - `{"source": "sap", "reference": "123"}`

        - `{"source": "sap", "reference": "456"}`

        - `{"source": "sku", "reference": "123abc"}`


        The following seller product references are considered to be available in the catalog but not supported:


        - `{"source": "sku", "reference": "unsupported-1"}`


        The following shipping reference is considered to be available but not supported:


        - `"unsupported-shipping-reference"`

        '
      operationId: offer#create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePayload2'
            example:
              customer:
                company:
                  billing_address:
                    city: Munich
                    country_code: DE
                    line1: 10 Downing Street
                    line2: Flat 42
                    postal_code: '10243'
                    region: Bavaria
                  name: Unicorn Corp
                  tax_number: '123456789'
                  vat_number: DE123456789
                customer_group: education
                email: alice@example.com
                full_name: John Butler
                phone_number: abc123
              draft_offer_id: abc123
              exit_redirect: https://example.com/foo
              expires_at: '1970-01-01T00:00:01Z'
              lines:
              - base_rental_price:
                  currency: EUR
                  gross: 119000
                  net: 100000
                bundle_index: abc123
                price:
                  currency: EUR
                  gross: 119000
                  net: 100000
                product_id: abc123
                quantity: 2
                seller_product_reference:
                  reference: 123ab-5343
                  source: sap
                sub_lines:
                - base_rental_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  bundle_index: abc123
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  product_id: abc123
                  quantity: 2
                  seller_product_reference:
                    reference: 123ab-5343
                    source: sap
                  subtitle: abc123
                  title: abc123
                subtitle: abc123
                title: abc123
              - base_rental_price:
                  currency: EUR
                  gross: 119000
                  net: 100000
                bundle_index: abc123
                price:
                  currency: EUR
                  gross: 119000
                  net: 100000
                product_id: abc123
                quantity: 2
                seller_product_reference:
                  reference: 123ab-5343
                  source: sap
                sub_lines:
                - base_rental_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  bundle_index: abc123
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  product_id: abc123
                  quantity: 2
                  seller_product_reference:
                    reference: 123ab-5343
                    source: sap
                  subtitle: abc123
                  title: abc123
                subtitle: abc123
                title: abc123
              metadata:
                affiliate_code: '123456'
              sales_agent:
                email: alice@example.com
                external_agent_id: abc123
                name: abc123
                phone: abc123
              sales_channel: ecommerce
              seller_offer_reference: ref-1234
              shipping:
                is_in_store_pickup: false
                price:
                  currency: EUR
                  gross: 119000
                  net: 100000
                seller_shipping_reference: Sandbox Shipping Service
              shipping_address:
                city: Munich
                country_code: DE
                line1: 10 Downing Street
                line2: Flat 42
                postal_code: '10243'
                recipient_name: Felix Wolf
                region: Bavaria
              success_redirect: https://example.com/foo
      responses:
        '201':
          description: Created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferResult'
              example:
                checkout_redirect_url: https://example.com/foo
                created_at: '1970-01-01T00:00:01Z'
                customer:
                  company:
                    billing_address:
                      city: Munich
                      country_code: DE
                      line1: 10 Downing Street
                      line2: Flat 42
                      postal_code: '10243'
                      region: Bavaria
                    name: Unicorn Corp
                    tax_number: '123456789'
                    vat_number: DE123456789
                  customer_group: education
                  email: alice@example.com
                  full_name: John Butler
                  phone_number: abc123
                expires_at: '1970-01-01T00:00:01Z'
                id: 739b63c2-9e58-4964-b38d-4ebb424de242
                lines:
                - applied_discount_id: abc123
                  available_contract_terms:
                    pay_now:
                      amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                        tax_rate: 1900
                      id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    rent:
                      duration: 12
                      id: 739b63c2-9e58-4964-b38d-4ebb424de242
                      monthly_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                        tax_rate: 1900
                  base_rental_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  bundle_id: abc123
                  id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  origin: abc123
                  pretty_id: abc123
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  pricing_category: abc123
                  product_id: abc123
                  quantity: 2
                  selected_contract_type: abc123
                  seller_product_references:
                  - reference: 123ab-5343
                    source: sap
                  sublines:
                  - applied_discount_id: abc123
                    available_contract_terms:
                      pay_now:
                        amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                          tax_rate: 1900
                        id: 739b63c2-9e58-4964-b38d-4ebb424de242
                      rent:
                        duration: 12
                        id: 739b63c2-9e58-4964-b38d-4ebb424de242
                        monthly_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                          tax_rate: 1900
                    base_rental_price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    bundle_id: abc123
                    id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    origin: abc123
                    pretty_id: abc123
                    price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    pricing_category: abc123
                    product_id: abc123
                    quantity: 2
                    selected_contract_type: abc123
                    seller_product_references:
                    - reference: 123ab-5343
                      source: sap
                    subtitle: abc123
                    title: abc123
                  subtitle: abc123
                  title: abc123
                metadata:
                  affiliate_code: '123456'
                pricing_overview:
                  breakdown:
                  - amount:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    title: Monthly (x36)
                    tooltip: The first rent fee is included in the first payment. More details later, in topi checkout.
                  instead_of_amount:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  items_summaries:
                  - identifier: abc123
                    pay_now:
                      pay_now_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                    pay_now_excluding_sublines:
                      pay_now_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                    rent:
                    - duration: 12
                      monthly_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                    rent_excluding_sublines:
                    - duration: 12
                      monthly_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                    total_pay_now:
                      pay_now_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                    total_rent:
                    - duration: 12
                      monthly_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                  shipping_amount:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  total_amount:
                    currency: EUR
                    gross: 119000
                    net: 100000
                sales_agent:
                  email: alice@example.com
                  external_agent_id: abc123
                  name: abc123
                  phone: abc123
                sales_channel: ecommerce
                seller_offer_redirect_url: https://example.com/foo
                seller_offer_reference: ref-1234
                shipping:
                  is_in_store_pickup: false
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  seller_shipping_reference: Sandbox Shipping Service
                shipping_address:
                  city: Munich
                  country_code: DE
                  line1: 10 Downing Street
                  line2: Flat 42
                  postal_code: '10243'
                  recipient_name: Felix Wolf
                  region: Bavaria
                status: voided
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '422':
          description: 'CurrenciesMismatch: The offer and the cart have different currencies.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableOffer'
              examples:
                AlreadyCheckedOut:
                  summary: AlreadyCheckedOut
                  description: The offer cannot be edited as it was already checked out by the customer.
                  value:
                    message: Offer already checked out by the customer
                    name: AlreadyCheckedOut
                Unprocessable with already active offer with same reference:
                  summary: Unprocessable with already active offer with same reference
                  description: There is already an active offer with the same reference.
                  value:
                    message: There is already an active offer with reference A123456
                    name: Unprocessable
                Unprocessable with no product lines:
                  summary: Unprocessable with no product lines
                  description: There are no product lines
                  value:
                    message: There are no product lines
                    name: Unprocessable
                Unsupported Products:
                  summary: Unsupported Products
                  description: The following references are marked as unsupported by topi.
                  value:
                    message: The following references are marked as unsupported by topi.
                    name: UnsupportedProducts
                    references:
                    - reference: unsupported-1
                      source: sap
                Unsupported shipping:
                  summary: Unsupported shipping
                  description: The selected shipping is not supported.
                  value:
                    message: Sandbox Shipping Service is not supported
                    name: UnsupportedShipping
        '503':
          description: 'ServiceUnavailable: Service Unavailable response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2Seller_header_Authorization:
        - seller-offer:edit
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://seller-api.topi.eu/v1/offers \\\n  -H \"Authorization: Bearer $ACCESS_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n  \"customer\": {\n    \"company\": {\n      \"billing_address\": {\n        \"city\": \"Munich\",\n        \"country_code\": \"DE\",\n        \"line1\": \"10 Downing Street\",\n        \"line2\": \"Flat 42\",\n        \"postal_code\": \"10243\",\n        \"region\": \"Bavaria\"\n      },\n      \"name\": \"Unicorn Corp\",\n      \"tax_number\": \"123456789\",\n      \"vat_number\": \"DE123456789\"\n    },\n    \"customer_group\": \"education\",\n    \"email\": \"alice@example.com\",\n    \"full_name\": \"John Butler\",\n    \"phone_number\": \"abc123\"\n  },\n  \"draft_offer_id\": \"abc123\",\n  \"exit_redirect\": \"https://example.com/foo\",\n  \"expires_at\": \"1970-01-01T00:00:01Z\",\n  \"lines\": [\n    {\n      \"base_rental_price\": {\n        \"currency\": \"EUR\",\n        \"gross\": 119000,\n        \"net\": 100000\n      },\n      \"bundle_index\": \"abc123\",\n      \"price\": {\n        \"currency\": \"EUR\",\n        \"gross\": 119000,\n        \"net\": 100000\n      },\n      \"product_id\": \"abc123\",\n      \"quantity\": 2,\n      \"seller_product_reference\": {\n        \"reference\": \"123ab-5343\",\n        \"source\": \"sap\"\n      },\n      \"sub_lines\": [\n        {\n          \"base_rental_price\": {\n            \"currency\": \"EUR\",\n            \"gross\": 119000,\n            \"net\": 100000\n          },\n          \"bundle_index\": \"abc123\",\n          \"price\": {\n            \"currency\": \"EUR\",\n            \"gross\": 119000,\n            \"net\": 100000\n          },\n          \"product_id\": \"abc123\",\n          \"quantity\": 2,\n          \"seller_product_reference\": {\n            \"reference\": \"123ab-5343\",\n            \"source\": \"sap\"\n          },\n          \"subtitle\": \"abc123\",\n          \"title\": \"abc123\"\n        }\n      ],\n      \"subtitle\": \"abc123\",\n      \"title\": \"abc123\"\n    },\n    {\n      \"base_rental_price\": {\n        \"currency\": \"EUR\",\n        \"gross\": 119000,\n        \"net\": 100000\n      },\n      \"bundle_index\": \"abc123\",\n      \"price\": {\n        \"currency\": \"EUR\",\n        \"gross\": 119000,\n        \"net\": 100000\n      },\n      \"product_id\": \"abc123\",\n      \"quantity\": 2,\n      \"seller_product_reference\": {\n        \"reference\": \"123ab-5343\",\n        \"source\": \"sap\"\n      },\n      \"sub_lines\": [\n        {\n          \"base_rental_price\": {\n            \"currency\": \"EUR\",\n            \"gross\": 119000,\n            \"net\": 100000\n          },\n          \"bundle_index\": \"abc123\",\n          \"price\": {\n            \"currency\": \"EUR\",\n            \"gross\": 119000,\n            \"net\": 100000\n          },\n          \"product_id\": \"abc123\",\n          \"quantity\": 2,\n          \"seller_product_reference\": {\n            \"reference\": \"123ab-5343\",\n            \"source\": \"sap\"\n          },\n          \"subtitle\": \"abc123\",\n          \"title\": \"abc123\"\n        }\n      ],\n      \"subtitle\": \"abc123\",\n      \"title\": \"abc123\"\n    }\n  ],\n  \"metadata\": {\n    \"affiliate_code\": \"123456\"\n  },\n  \"sales_agent\": {\n    \"email\": \"alice@example.com\",\n    \"external_agent_id\": \"abc123\",\n    \"name\": \"abc123\",\n    \"phone\": \"abc123\"\n  },\n  \"sales_channel\": \"ecommerce\",\n  \"seller_offer_reference\": \"ref-1234\",\n  \"shipping\": {\n    \"is_in_store_pickup\": false,\n    \"price\": {\n      \"currency\": \"EUR\",\n      \"gross\": 119000,\n      \"net\": 100000\n    },\n    \"seller_shipping_reference\": \"Sandbox Shipping Service\"\n  },\n  \"shipping_address\": {\n    \"city\": \"Munich\",\n    \"country_code\": \"DE\",\n    \"line1\": \"10 Downing Street\",\n    \"line2\": \"Flat 42\",\n    \"postal_code\": \"10243\",\n    \"recipient_name\": \"Felix Wolf\",\n    \"region\": \"Bavaria\"\n  },\n  \"success_redirect\": \"https://example.com/foo\"\n}'\n"
      - lang: javascript
        label: JavaScript (fetch)
        source: "const response = await fetch('https://seller-api.topi.eu/v1/offers', {\n  method: 'POST',\n  headers: {\n    'Authorization': `Bearer ${ACCESS_TOKEN}`,\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n  \"customer\": {\n    \"company\": {\n      \"billing_address\": {\n        \"city\": \"Munich\",\n        \"country_code\": \"DE\",\n        \"line1\": \"10 Downing Street\",\n        \"line2\": \"Flat 42\",\n        \"postal_code\": \"10243\",\n        \"region\": \"Bavaria\"\n      },\n      \"name\": \"Unicorn Corp\",\n      \"tax_number\": \"123456789\",\n      \"vat_number\": \"DE123456789\"\n    },\n    \"customer_group\": \"education\",\n    \"email\": \"alice@example.com\",\n    \"full_name\": \"John Butler\",\n    \"phone_number\": \"abc123\"\n  },\n  \"draft_offer_id\": \"abc123\",\n  \"exit_redirect\": \"https://example.com/foo\",\n  \"expires_at\": \"1970-01-01T00:00:01Z\",\n  \"lines\": [\n    {\n      \"base_rental_price\": {\n        \"currency\": \"EUR\",\n        \"gross\": 119000,\n        \"net\": 100000\n      },\n      \"bundle_index\": \"abc123\",\n      \"price\": {\n        \"currency\": \"EUR\",\n        \"gross\": 119000,\n        \"net\": 100000\n      },\n      \"product_id\": \"abc123\",\n      \"quantity\": 2,\n      \"seller_product_reference\": {\n        \"reference\": \"123ab-5343\",\n        \"source\": \"sap\"\n      },\n      \"sub_lines\": [\n        {\n          \"base_rental_price\": {\n            \"currency\": \"EUR\",\n            \"gross\": 119000,\n            \"net\": 100000\n          },\n          \"bundle_index\": \"abc123\",\n          \"price\": {\n            \"currency\": \"EUR\",\n            \"gross\": 119000,\n            \"net\": 100000\n          },\n          \"product_id\": \"abc123\",\n          \"quantity\": 2,\n          \"seller_product_reference\": {\n            \"reference\": \"123ab-5343\",\n            \"source\": \"sap\"\n          },\n          \"subtitle\": \"abc123\",\n          \"title\": \"abc123\"\n        }\n      ],\n      \"subtitle\": \"abc123\",\n      \"title\": \"abc123\"\n    },\n    {\n      \"base_rental_price\": {\n        \"currency\": \"EUR\",\n        \"gross\": 119000,\n        \"net\": 100000\n      },\n      \"bundle_index\": \"abc123\",\n      \"price\": {\n        \"currency\": \"EUR\",\n        \"gross\": 119000,\n        \"net\": 100000\n      },\n      \"product_id\": \"abc123\",\n      \"quantity\": 2,\n      \"seller_product_reference\": {\n        \"reference\": \"123ab-5343\",\n        \"source\": \"sap\"\n      },\n      \"sub_lines\": [\n        {\n          \"base_rental_price\": {\n            \"currency\": \"EUR\",\n            \"gross\": 119000,\n            \"net\": 100000\n          },\n          \"bundle_index\": \"abc123\",\n          \"price\": {\n            \"currency\": \"EUR\",\n            \"gross\": 119000,\n            \"net\": 100000\n          },\n          \"product_id\": \"abc123\",\n          \"quantity\": 2,\n          \"seller_product_reference\": {\n            \"reference\": \"123ab-5343\",\n            \"source\": \"sap\"\n          },\n          \"subtitle\": \"abc123\",\n          \"title\": \"abc123\"\n        }\n      ],\n      \"subtitle\": \"abc123\",\n      \"title\": \"abc123\"\n    }\n  ],\n  \"metadata\": {\n    \"affiliate_code\": \"123456\"\n  },\n  \"sales_agent\": {\n    \"email\": \"alice@example.com\",\n    \"external_agent_id\": \"abc123\",\n    \"name\": \"abc123\",\n    \"phone\": \"abc123\"\n  },\n  \"sales_channel\": \"ecommerce\",\n  \"seller_offer_reference\": \"ref-1234\",\n  \"shipping\": {\n    \"is_in_store_pickup\": false,\n    \"price\": {\n      \"currency\": \"EUR\",\n      \"gross\": 119000,\n      \"net\": 100000\n    },\n    \"seller_shipping_reference\": \"Sandbox Shipping Service\"\n  },\n  \"shipping_address\": {\n    \"city\": \"Munich\",\n    \"country_code\": \"DE\",\n    \"line1\": \"10 Downing Street\",\n    \"line2\": \"Flat 42\",\n    \"postal_code\": \"10243\",\n    \"recipient_name\": \"Felix Wolf\",\n    \"region\": \"Bavaria\"\n  },\n  \"success_redirect\": \"https://example.com/foo\"\n})\n});\n\nconst data = await response.json();\nconsole.log(data);\n"
  /v1/offers/{id}:
    get:
      tags:
      - offer
      summary: Retrieve an offer
      description: 'Returns a single offer.


        ### When using in the Sandbox


        Use the following ID''s to get different fixtures. Remember that the URL must

        be encoded:


        - Status `"created"`: `"739b63c2-9e58-4964-b38d-4ebb424de242"`

        - Status `"voided"`: `"ddd454b6-f23b-4f9c-a36d-74964766c3d6"`

        - Status `"expired"`: `"3beec7f7-a258-4260-8713-6c2635e5eea5"`

        - Status `"accepted"`: `"60412bcf-8213-4804-841e-f3c36ce46394"`


        Any other ID will return an HTTP 404 error.

        '
      operationId: offer#show
      parameters:
      - name: id
        in: path
        description: topi offer ID
        required: true
        schema:
          type: string
          description: topi offer ID
          example: 739b63c2-9e58-4964-b38d-4ebb424de242
          format: regexp
          pattern: ^[0-9A-Za-z\-]+$
        example: 739b63c2-9e58-4964-b38d-4ebb424de242
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferResult'
              example:
                checkout_redirect_url: https://example.com/foo
                created_at: '1970-01-01T00:00:01Z'
                customer:
                  company:
                    billing_address:
                      city: Munich
                      country_code: DE
                      line1: 10 Downing Street
                      line2: Flat 42
                      postal_code: '10243'
                      region: Bavaria
                    name: Unicorn Corp
                    tax_number: '123456789'
                    vat_number: DE123456789
                  customer_group: education
                  email: alice@example.com
                  full_name: John Butler
                  phone_number: abc123
                expires_at: '1970-01-01T00:00:01Z'
                id: 739b63c2-9e58-4964-b38d-4ebb424de242
                lines:
                - applied_discount_id: abc123
                  available_contract_terms:
                    pay_now:
                      amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                        tax_rate: 1900
                      id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    rent:
                      duration: 12
                      id: 739b63c2-9e58-4964-b38d-4ebb424de242
                      monthly_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                        tax_rate: 1900
                  base_rental_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  bundle_id: abc123
                  id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  origin: abc123
                  pretty_id: abc123
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  pricing_category: abc123
                  product_id: abc123
                  quantity: 2
                  selected_contract_type: abc123
                  seller_product_references:
                  - reference: 123ab-5343
                    source: sap
                  sublines:
                  - applied_discount_id: abc123
                    available_contract_terms:
                      pay_now:
                        amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                          tax_rate: 1900
                        id: 739b63c2-9e58-4964-b38d-4ebb424de242
                      rent:
                        duration: 12
                        id: 739b63c2-9e58-4964-b38d-4ebb424de242
                        monthly_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                          tax_rate: 1900
                    base_rental_price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    bundle_id: abc123
                    id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    origin: abc123
                    pretty_id: abc123
                    price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    pricing_category: abc123
                    product_id: abc123
                    quantity: 2
                    selected_contract_type: abc123
                    seller_product_references:
                    - reference: 123ab-5343
                      source: sap
                    subtitle: abc123
                    title: abc123
                  subtitle: abc123
                  title: abc123
                metadata:
                  affiliate_code: '123456'
                pricing_overview:
                  breakdown:
                  - amount:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    title: Monthly (x36)
                    tooltip: The first rent fee is included in the first payment. More details later, in topi checkout.
                  instead_of_amount:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  items_summaries:
                  - identifier: abc123
                    pay_now:
                      pay_now_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                    pay_now_excluding_sublines:
                      pay_now_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                    rent:
                    - duration: 12
                      monthly_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                    rent_excluding_sublines:
                    - duration: 12
                      monthly_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                    total_pay_now:
                      pay_now_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                    total_rent:
                    - duration: 12
                      monthly_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                  shipping_amount:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  total_amount:
                    currency: EUR
                    gross: 119000
                    net: 100000
                sales_agent:
                  email: alice@example.com
                  external_agent_id: abc123
                  name: abc123
                  phone: abc123
                sales_channel: ecommerce
                seller_offer_redirect_url: https://example.com/foo
                seller_offer_reference: ref-1234
                shipping:
                  is_in_store_pickup: false
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  seller_shipping_reference: Sandbox Shipping Service
                shipping_address:
                  city: Munich
                  country_code: DE
                  line1: 10 Downing Street
                  line2: Flat 42
                  postal_code: '10243'
                  recipient_name: Felix Wolf
                  region: Bavaria
                status: voided
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2Seller_header_Authorization:
        - seller-offer:read
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl -X GET https://seller-api.topi.eu/v1/offers/{id} \\\n  -H \"Authorization: Bearer $ACCESS_TOKEN\"\n"
      - lang: javascript
        label: JavaScript (fetch)
        source: "const response = await fetch('https://seller-api.topi.eu/v1/offers/{id}', {\n  method: 'GET',\n  headers: {\n    'Authorization': `Bearer ${ACCESS_TOKEN}`\n  }\n});\n\nconst data = await response.json();\nconsole.log(data);\n"
    put:
      tags:
      - offer
      summary: Edit an offer
      description: 'Edits an offer by voiding it and creating a new offer superseding it with the provided details.


        *Note:* Offer details will be replaced with the validated payload passed to this endpoint. Make sure to send the full offer details information.

        '
      operationId: offer#edit
      parameters:
      - name: id
        in: path
        description: Offer ID
        required: true
        schema:
          type: string
          description: Offer ID
          example: 739b63c2-9e58-4964-b38d-4ebb424de242
          format: regexp
          pattern: ^[0-9A-Za-z\-]+$
        example: 739b63c2-9e58-4964-b38d-4ebb424de242
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOfferPayload'
            example:
              customer:
                company:
                  billing_address:
                    city: Munich
                    country_code: DE
                    line1: 10 Downing Street
                    line2: Flat 42
                    postal_code: '10243'
                    region: Bavaria
                  name: Unicorn Corp
                  tax_number: '123456789'
                  vat_number: DE123456789
                customer_group: education
                email: alice@example.com
                full_name: John Butler
                phone_number: abc123
              draft_offer_id: abc123
              exit_redirect: https://example.com/foo
              expires_at: '1970-01-01T00:00:01Z'
              lines:
              - base_rental_price:
                  currency: EUR
                  gross: 119000
                  net: 100000
                bundle_index: abc123
                price:
                  currency: EUR
                  gross: 119000
                  net: 100000
                product_id: abc123
                quantity: 2
                seller_product_reference:
                  reference: 123ab-5343
                  source: sap
                sub_lines:
                - base_rental_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  bundle_index: abc123
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  product_id: abc123
                  quantity: 2
                  seller_product_reference:
                    reference: 123ab-5343
                    source: sap
                  subtitle: abc123
                  title: abc123
                subtitle: abc123
                title: abc123
              - base_rental_price:
                  currency: EUR
                  gross: 119000
                  net: 100000
                bundle_index: abc123
                price:
                  currency: EUR
                  gross: 119000
                  net: 100000
                product_id: abc123
                quantity: 2
                seller_product_reference:
                  reference: 123ab-5343
                  source: sap
                sub_lines:
                - base_rental_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  bundle_index: abc123
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  product_id: abc123
                  quantity: 2
                  seller_product_reference:
                    reference: 123ab-5343
                    source: sap
                  subtitle: abc123
                  title: abc123
                subtitle: abc123
                title: abc123
              metadata:
                affiliate_code: '123456'
              sales_agent:
                email: alice@example.com
                external_agent_id: abc123
                name: abc123
                phone: abc123
              sales_channel: ecommerce
              seller_offer_reference: ref-1234
              shipping:
                is_in_store_pickup: false
                price:
                  currency: EUR
                  gross: 119000
                  net: 100000
                seller_shipping_reference: Sandbox Shipping Service
              shipping_address:
                city: Munich
                country_code: DE
                line1: 10 Downing Street
                line2: Flat 42
                postal_code: '10243'
                recipient_name: Felix Wolf
                region: Bavaria
              success_redirect: https://example.com/foo
      responses:
        '202':
          description: Accepted response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferResult'
              example:
                checkout_redirect_url: https://example.com/foo
                created_at: '1970-01-01T00:00:01Z'
                customer:
                  company:
                    billing_address:
                      city: Munich
                      country_code: DE
                      line1: 10 Downing Street
                      line2: Flat 42
                      postal_code: '10243'
                      region: Bavaria
                    name: Unicorn Corp
                    tax_number: '123456789'
                    vat_number: DE123456789
                  customer_group: education
                  email: alice@example.com
                  full_name: John Butler
                  phone_number: abc123
                expires_at: '1970-01-01T00:00:01Z'
                id: 739b63c2-9e58-4964-b38d-4ebb424de242
                lines:
                - applied_discount_id: abc123
                  available_contract_terms:
                    pay_now:
                      amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                        tax_rate: 1900
                      id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    rent:
                      duration: 12
                      id: 739b63c2-9e58-4964-b38d-4ebb424de242
                      monthly_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                        tax_rate: 1900
                  base_rental_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  bundle_id: abc123
                  id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  origin: abc123
                  pretty_id: abc123
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  pricing_category: abc123
                  product_id: abc123
                  quantity: 2
                  selected_contract_type: abc123
                  seller_product_references:
                  - reference: 123ab-5343
                    source: sap
                  sublines:
                  - applied_discount_id: abc123
                    available_contract_terms:
                      pay_now:
                        amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                          tax_rate: 1900
                        id: 739b63c2-9e58-4964-b38d-4ebb424de242
                      rent:
                        duration: 12
                        id: 739b63c2-9e58-4964-b38d-4ebb424de242
                        monthly_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                          tax_rate: 1900
                    base_rental_price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    bundle_id: abc123
                    id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    origin: abc123
                    pretty_id: abc123
                    price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    pricing_category: abc123
                    product_id: abc123
                    quantity: 2
                    selected_contract_type: abc123
                    seller_product_references:
                    - reference: 123ab-5343
                      source: sap
                    subtitle: abc123
                    title: abc123
                  subtitle: abc123
                  title: abc123
                metadata:
                  affiliate_code: '123456'
                pricing_overview:
                  breakdown:
                  - amount:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    title: Monthly (x36)
                    tooltip: The first rent fee is included in the first payment. More details later, in topi checkout.
                  instead_of_amount:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  items_summaries:
                  - identifier: abc123
                    pay_now:
                      pay_now_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                    pay_now_excluding_sublines:
                      pay_now_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                    rent:
                    - duration: 12
                      monthly_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                    rent_excluding_sublines:
                    - duration: 12
                      monthly_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                    total_pay_now:
                      pay_now_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                    total_rent:
                    - duration: 12
                      monthly_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                  shipping_amount:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  total_amount:
                    currency: EUR
                    gross: 119000
                    net: 100000
                sales_agent:
                  email: alice@example.com
                  external_agent_id: abc123
                  name: abc123
                  phone: abc123
                sales_channel: ecommerce
                seller_offer_redirect_url: https://example.com/foo
                seller_offer_reference: ref-1234
                shipping:
                  is_in_store_pickup: false
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  seller_shipping_reference: Sandbox Shipping Service
                shipping_address:
                  city: Munich
                  country_code: DE
                  line1: 10 Downing Street
                  line2: Flat 42
                  postal_code: '10243'
                  recipient_name: Felix Wolf
                  region: Bavaria
                status: voided
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '422':
          description: 'AlreadyCheckedOut: The offer is already checked out'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableOffer'
              examples:
                AlreadyCheckedOut:
                  summary: AlreadyCheckedOut
                  description: The offer cannot be edited as it was already checked out by the customer.
                  value:
                    message: Offer already checked out by the customer
                    name: AlreadyCheckedOut
                Unprocessable with already active offer with same reference:
                  summary: Unprocessable with already active offer with same reference
                  description: There is already an active offer with the same reference.
                  value:
                    message: There is already an active offer with reference A123456
                    name: Unprocessable
                Unprocessable with no product lines:
                  summary: Unprocessable with no product lines
                  description: There are no product lines
                  value:
                    message: There are no product lines
                    name: Unprocessable
                Unsupported Products:
                  summary: Unsupported Products
                  description: The following references are marked as unsupported by topi.
                  value:
                    message: The following references are marked as unsupported by topi.
                    name: UnsupportedProducts
                    references:
                    - reference: unsupported-1
                      source: sap
                Unsupported shipping:
                  summary: Unsupported shipping
                  description: The selected shipping is not supported.
                  value:
                    message: Sandbox Shipping Service is not supported
                    name: UnsupportedShipping
        '503':
          description: 'ServiceUnavailable: Service Unavailable response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2Seller_header_Authorization:
        - seller-offer:edit
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl -X PUT https://seller-api.topi.eu/v1/offers/{id} \\\n  -H \"Authorization: Bearer $ACCESS_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n  \"customer\": {\n    \"company\": {\n      \"billing_address\": {\n        \"city\": \"Munich\",\n        \"country_code\": \"DE\",\n        \"line1\": \"10 Downing Street\",\n        \"line2\": \"Flat 42\",\n        \"postal_code\": \"10243\",\n        \"region\": \"Bavaria\"\n      },\n      \"name\": \"Unicorn Corp\",\n      \"tax_number\": \"123456789\",\n      \"vat_number\": \"DE123456789\"\n    },\n    \"customer_group\": \"education\",\n    \"email\": \"alice@example.com\",\n    \"full_name\": \"John Butler\",\n    \"phone_number\": \"abc123\"\n  },\n  \"draft_offer_id\": \"abc123\",\n  \"exit_redirect\": \"https://example.com/foo\",\n  \"expires_at\": \"1970-01-01T00:00:01Z\",\n  \"lines\": [\n    {\n      \"base_rental_price\": {\n        \"currency\": \"EUR\",\n        \"gross\": 119000,\n        \"net\": 100000\n      },\n      \"bundle_index\": \"abc123\",\n      \"price\": {\n        \"currency\": \"EUR\",\n        \"gross\": 119000,\n        \"net\": 100000\n      },\n      \"product_id\": \"abc123\",\n      \"quantity\": 2,\n      \"seller_product_reference\": {\n        \"reference\": \"123ab-5343\",\n        \"source\": \"sap\"\n      },\n      \"sub_lines\": [\n        {\n          \"base_rental_price\": {\n            \"currency\": \"EUR\",\n            \"gross\": 119000,\n            \"net\": 100000\n          },\n          \"bundle_index\": \"abc123\",\n          \"price\": {\n            \"currency\": \"EUR\",\n            \"gross\": 119000,\n            \"net\": 100000\n          },\n          \"product_id\": \"abc123\",\n          \"quantity\": 2,\n          \"seller_product_reference\": {\n            \"reference\": \"123ab-5343\",\n            \"source\": \"sap\"\n          },\n          \"subtitle\": \"abc123\",\n          \"title\": \"abc123\"\n        }\n      ],\n      \"subtitle\": \"abc123\",\n      \"title\": \"abc123\"\n    },\n    {\n      \"base_rental_price\": {\n        \"currency\": \"EUR\",\n        \"gross\": 119000,\n        \"net\": 100000\n      },\n      \"bundle_index\": \"abc123\",\n      \"price\": {\n        \"currency\": \"EUR\",\n        \"gross\": 119000,\n        \"net\": 100000\n      },\n      \"product_id\": \"abc123\",\n      \"quantity\": 2,\n      \"seller_product_reference\": {\n        \"reference\": \"123ab-5343\",\n        \"source\": \"sap\"\n      },\n      \"sub_lines\": [\n        {\n          \"base_rental_price\": {\n            \"currency\": \"EUR\",\n            \"gross\": 119000,\n            \"net\": 100000\n          },\n          \"bundle_index\": \"abc123\",\n          \"price\": {\n            \"currency\": \"EUR\",\n            \"gross\": 119000,\n            \"net\": 100000\n          },\n          \"product_id\": \"abc123\",\n          \"quantity\": 2,\n          \"seller_product_reference\": {\n            \"reference\": \"123ab-5343\",\n            \"source\": \"sap\"\n          },\n          \"subtitle\": \"abc123\",\n          \"title\": \"abc123\"\n        }\n      ],\n      \"subtitle\": \"abc123\",\n      \"title\": \"abc123\"\n    }\n  ],\n  \"metadata\": {\n    \"affiliate_code\": \"123456\"\n  },\n  \"sales_agent\": {\n    \"email\": \"alice@example.com\",\n    \"external_agent_id\": \"abc123\",\n    \"name\": \"abc123\",\n    \"phone\": \"abc123\"\n  },\n  \"sales_channel\": \"ecommerce\",\n  \"seller_offer_reference\": \"ref-1234\",\n  \"shipping\": {\n    \"is_in_store_pickup\": false,\n    \"price\": {\n      \"currency\": \"EUR\",\n      \"gross\": 119000,\n      \"net\": 100000\n    },\n    \"seller_shipping_reference\": \"Sandbox Shipping Service\"\n  },\n  \"shipping_address\": {\n    \"city\": \"Munich\",\n    \"country_code\": \"DE\",\n    \"line1\": \"10 Downing Street\",\n    \"line2\": \"Flat 42\",\n    \"postal_code\": \"10243\",\n    \"recipient_name\": \"Felix Wolf\",\n    \"region\": \"Bavaria\"\n  },\n  \"success_redirect\": \"https://example.com/foo\"\n}'\n"
      - lang: javascript
        label: JavaScript (fetch)
        source: "const response = await fetch('https://seller-api.topi.eu/v1/offers/{id}', {\n  method: 'PUT',\n  headers: {\n    'Authorization': `Bearer ${ACCESS_TOKEN}`,\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n  \"customer\": {\n    \"company\": {\n      \"billing_address\": {\n        \"city\": \"Munich\",\n        \"country_code\": \"DE\",\n        \"line1\": \"10 Downing Street\",\n        \"line2\": \"Flat 42\",\n        \"postal_code\": \"10243\",\n        \"region\": \"Bavaria\"\n      },\n      \"name\": \"Unicorn Corp\",\n      \"tax_number\": \"123456789\",\n      \"vat_number\": \"DE123456789\"\n    },\n    \"customer_group\": \"education\",\n    \"email\": \"alice@example.com\",\n    \"full_name\": \"John Butler\",\n    \"phone_number\": \"abc123\"\n  },\n  \"draft_offer_id\": \"abc123\",\n  \"exit_redirect\": \"https://example.com/foo\",\n  \"expires_at\": \"1970-01-01T00:00:01Z\",\n  \"lines\": [\n    {\n      \"base_rental_price\": {\n        \"currency\": \"EUR\",\n        \"gross\": 119000,\n        \"net\": 100000\n      },\n      \"bundle_index\": \"abc123\",\n      \"price\": {\n        \"currency\": \"EUR\",\n        \"gross\": 119000,\n        \"net\": 100000\n      },\n      \"product_id\": \"abc123\",\n      \"quantity\": 2,\n      \"seller_product_reference\": {\n        \"reference\": \"123ab-5343\",\n        \"source\": \"sap\"\n      },\n      \"sub_lines\": [\n        {\n          \"base_rental_price\": {\n            \"currency\": \"EUR\",\n            \"gross\": 119000,\n            \"net\": 100000\n          },\n          \"bundle_index\": \"abc123\",\n          \"price\": {\n            \"currency\": \"EUR\",\n            \"gross\": 119000,\n            \"net\": 100000\n          },\n          \"product_id\": \"abc123\",\n          \"quantity\": 2,\n          \"seller_product_reference\": {\n            \"reference\": \"123ab-5343\",\n            \"source\": \"sap\"\n          },\n          \"subtitle\": \"abc123\",\n          \"title\": \"abc123\"\n        }\n      ],\n      \"subtitle\": \"abc123\",\n      \"title\": \"abc123\"\n    },\n    {\n      \"base_rental_price\": {\n        \"currency\": \"EUR\",\n        \"gross\": 119000,\n        \"net\": 100000\n      },\n      \"bundle_index\": \"abc123\",\n      \"price\": {\n        \"currency\": \"EUR\",\n        \"gross\": 119000,\n        \"net\": 100000\n      },\n      \"product_id\": \"abc123\",\n      \"quantity\": 2,\n      \"seller_product_reference\": {\n        \"reference\": \"123ab-5343\",\n        \"source\": \"sap\"\n      },\n      \"sub_lines\": [\n        {\n          \"base_rental_price\": {\n            \"currency\": \"EUR\",\n            \"gross\": 119000,\n            \"net\": 100000\n          },\n          \"bundle_index\": \"abc123\",\n          \"price\": {\n            \"currency\": \"EUR\",\n            \"gross\": 119000,\n            \"net\": 100000\n          },\n          \"product_id\": \"abc123\",\n          \"quantity\": 2,\n          \"seller_product_reference\": {\n            \"reference\": \"123ab-5343\",\n            \"source\": \"sap\"\n          },\n          \"subtitle\": \"abc123\",\n          \"title\": \"abc123\"\n        }\n      ],\n      \"subtitle\": \"abc123\",\n      \"title\": \"abc123\"\n    }\n  ],\n  \"metadata\": {\n    \"affiliate_code\": \"123456\"\n  },\n  \"sales_agent\": {\n    \"email\": \"alice@example.com\",\n    \"external_agent_id\": \"abc123\",\n    \"name\": \"abc123\",\n    \"phone\": \"abc123\"\n  },\n  \"sales_channel\": \"ecommerce\",\n  \"seller_offer_reference\": \"ref-1234\",\n  \"shipping\": {\n    \"is_in_store_pickup\": false,\n    \"price\": {\n      \"currency\": \"EUR\",\n      \"gross\": 119000,\n      \"net\": 100000\n    },\n    \"seller_shipping_reference\": \"Sandbox Shipping Service\"\n  },\n  \"shipping_address\": {\n    \"city\": \"Munich\",\n    \"country_code\": \"DE\",\n    \"line1\": \"10 Downing Street\",\n    \"line2\": \"Flat 42\",\n    \"postal_code\": \"10243\",\n    \"recipient_name\": \"Felix Wolf\",\n    \"region\": \"Bavaria\"\n  },\n  \"success_redirect\": \"https://example.com/foo\"\n})\n});\n\nconst data = await response.json();\nconsole.log(data);\n"
  /v1/offers/{id}/void:
    post:
      tags:
      - offer
      summary: Void an offer
      description: 'Voids an offer. Optionally, marks an existing offer as superseding this one.


        All offers can be voided except those with status `accepted`. A HTTP 402 Unprocesssable Entity error will be returned in this case.


        If the **superseding offer** ID does not exist or has the same ID has the voided offer, HTTP 402 Unprocessable Entity will be returned.


        ## When using in the Sandbox


        You can use the following IDs to refer to different offer fixtures and test this endpoint. Remember that URL''s must be encoded.


        - Status `"created"`: `"739b63c2-9e58-4964-b38d-4ebb424de242"`

        - Status `"voided"`: `"ddd454b6-f23b-4f9c-a36d-74964766c3d6"`

        - Status `"expired"`: `"3beec7f7-a258-4260-8713-6c2635e5eea5"`

        - Status `"accepted"`: `"60412bcf-8213-4804-841e-f3c36ce46394"`


        Keep in mind that the Sandbox does _not_ persist state. Even if you void an offer, subsequent calls to different API endpoints will yield the same results.

        '
      operationId: offer#void
      parameters:
      - name: id
        in: path
        description: topi offer ID
        required: true
        schema:
          type: string
          description: topi offer ID
          example: 739b63c2-9e58-4964-b38d-4ebb424de242
          format: regexp
          pattern: ^[0-9A-Za-z\-]+$
        example: 739b63c2-9e58-4964-b38d-4ebb424de242
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidRequestBody'
            example:
              superseded_by_id: 739b63c2-9e58-4964-b38d-4ebb424de242
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferResult'
              examples:
                A voided offer:
                  summary: A voided offer
                  value:
                    created_at: '1971-05-24T04:42:31Z'
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: 'Unprocessable: Unprocessable Entity response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2Seller_header_Authorization:
        - seller-offer:edit
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://seller-api.topi.eu/v1/offers/{id}/void \\\n  -H \"Authorization: Bearer $ACCESS_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n  \"superseded_by_id\": \"739b63c2-9e58-4964-b38d-4ebb424de242\"\n}'\n"
      - lang: javascript
        label: JavaScript (fetch)
        source: "const response = await fetch('https://seller-api.topi.eu/v1/offers/{id}/void', {\n  method: 'POST',\n  headers: {\n    'Authorization': `Bearer ${ACCESS_TOKEN}`,\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n  \"superseded_by_id\": \"739b63c2-9e58-4964-b38d-4ebb424de242\"\n})\n});\n\nconst data = await response.json();\nconsole.log(data);\n"
  /v1/offers/paginated:
    get:
      tags:
      - offer
      summary: List all offers with pagination
      description: "Lists the offers created by the calling seller, with pagination and filters. Supports offset-based pagination (page/limit) and range filters for efficient data traversal. \n\n**Recommended approach for paginating over all data:** Use ID range filters with limit=100. The ID range filter (id_gt) works like cursor-based pagination, providing the most efficient way to iterate through the complete dataset. Pass the last ID from the previous page as id_gt to fetch the next batch. \n\nExamples:\n- First page: ?limit=100\n- Next page: ?id_gt=<last_id_from_previous_page>&limit=100\n- Time-based sync: ?created_at_gt=<last_sync_time>&limit=100"
      operationId: offer#listOffersPaginated
      parameters:
      - name: limit
        in: query
        description: the size of the page
        allowEmptyValue: true
        schema:
          type: integer
          description: the size of the page
          example: 1
          format: int64
        example: 1
      - name: page
        in: query
        description: the index of the page
        allowEmptyValue: true
        schema:
          type: integer
          description: the index of the page
          example: 1
          format: int64
        example: 1
      - name: query
        in: query
        description: Search query. It can be a string or a number or both
        allowEmptyValue: true
        schema:
          type: string
          description: Search query. It can be a string or a number or both
          example: status
        examples:
          default:
            summary: default
            value: status
      - name: created_by
        in: query
        description: a comma-separated list of sales agents emails
        allowEmptyValue: true
        schema:
          type: string
          description: a comma-separated list of sales agents emails
          example: sales-agent@example.com,anothergreatone@example.com
        example: sales-agent@example.com,anothergreatone@example.com
      - name: partners_only
        in: query
        description: a boolean indicating whether to retrieve offers from partner sellers only
        allowEmptyValue: true
        schema:
          type: boolean
          description: a boolean indicating whether to retrieve offers from partner sellers only
          example: false
        example: false
      - name: sort_by
        in: query
        description: Field to sort by
        allowEmptyValue: true
        schema:
          type: string
          description: Field to sort by
          default: created_at
          example: status
          enum:
          - created_at
          - status
          - expires_at
        example: status
      - name: sort_order
        in: query
        description: Sort direction
        allowEmptyValue: true
        schema:
          type: string
          description: Sort direction
          default: asc
          example: desc
          enum:
          - asc
          - desc
        example: desc
      - name: id_gt
        in: query
        description: 'Filter: offer ID > value (UUID)'
        allowEmptyValue: true
        schema:
          type: string
          description: 'Filter: offer ID > value (UUID)'
          example: 550e8400-e29b-41d4-a716-446655440000
          format: uuid
        example: 550e8400-e29b-41d4-a716-446655440000
      - name: id_gte
        in: query
        description: 'Filter: offer ID >= value (UUID)'
        allowEmptyValue: true
        schema:
          type: string
          description: 'Filter: offer ID >= value (UUID)'
          example: 550e8400-e29b-41d4-a716-446655440000
          format: uuid
        example: 550e8400-e29b-41d4-a716-446655440000
      - name: id_lt
        in: query
        description: 'Filter: offer ID < value (UUID)'
        allowEmptyValue: true
        schema:
          type: string
          description: 'Filter: offer ID < value (UUID)'
          example: 550e8400-e29b-41d4-a716-446655440000
          format: uuid
        example: 550e8400-e29b-41d4-a716-446655440000
      - name: id_lte
        in: query
        description: 'Filter: offer ID <= value (UUID)'
        allowEmptyValue: true
        schema:
          type: string
          description: 'Filter: offer ID <= value (UUID)'
          example: 550e8400-e29b-41d4-a716-446655440000
          format: uuid
        example: 550e8400-e29b-41d4-a716-446655440000
      - name: created_at_gt
        in: query
        description: 'Filter: offer created_at > value (RFC3339)'
        allowEmptyValue: true
        schema:
          type: string
          description: 'Filter: offer created_at > value (RFC3339)'
          example: '2025-01-01T00:00:00Z'
          format: date-time
        example: '2025-01-01T00:00:00Z'
      - name: created_at_gte
        in: query
        description: 'Filter: offer created_at >= value (RFC3339)'
        allowEmptyValue: true
        schema:
          type: string
          description: 'Filter: offer created_at >= value (RFC3339)'
          example: '2025-01-01T00:00:00Z'
          format: date-time
        example: '2025-01-01T00:00:00Z'
      - name: created_at_lt
        in: query
        description: 'Filter: offer created_at < value (RFC3339)'
        allowEmptyValue: true
        schema:
          type: string
          description: 'Filter: offer created_at < value (RFC3339)'
          example: '2025-12-31T23:59:59Z'
          format: date-time
        example: '2025-12-31T23:59:59Z'
      - name: created_at_lte
        in: query
        description: 'Filter: offer created_at <= value (RFC3339)'
        allowEmptyValue: true
        schema:
          type: string
          description: 'Filter: offer created_at <= value (RFC3339)'
          example: '2025-12-31T23:59:59Z'
          format: date-time
        example: '2025-12-31T23:59:59Z'
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferListResult'
              example:
                offers:
                - checkout_redirect_url: https://example.com/foo
                  created_at: '1970-01-01T00:00:01Z'
                  customer:
                    company:
                      billing_address:
                        city: Munich
                        country_code: DE
                        line1: 10 Downing Street
                        line2: Flat 42
                        postal_code: '10243'
                        region: Bavaria
                      name: Unicorn Corp
                      tax_number: '123456789'
                      vat_number: DE123456789
                    customer_group: education
                    email: alice@example.com
                    full_name: John Butler
                    phone_number: abc123
                  expires_at: '1970-01-01T00:00:01Z'
                  id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  lines:
                  - applied_discount_id: abc123
                    available_contract_terms:
                      pay_now:
                        amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                          tax_rate: 1900
                        id: 739b63c2-9e58-4964-b38d-4ebb424de242
                      rent:
                        duration: 12
                        id: 739b63c2-9e58-4964-b38d-4ebb424de242
                        monthly_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                          tax_rate: 1900
                    base_rental_price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    bundle_id: abc123
                    id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    origin: abc123
                    pretty_id: abc123
                    price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    pricing_category: abc123
                    product_id: abc123
                    quantity: 2
                    selected_contract_type: abc123
                    seller_product_references:
                    - reference: 123ab-5343
                      source: sap
                    sublines:
                    - applied_discount_id: abc123
                      available_contract_terms:
                        pay_now:
                          amount:
                            currency: EUR
                            gross: 119000
                            net: 100000
                            tax_rate: 1900
                          id: 739b63c2-9e58-4964-b38d-4ebb424de242
                        rent:
                          duration: 12
                          id: 739b63c2-9e58-4964-b38d-4ebb424de242
                          monthly_amount:
                            currency: EUR
                            gross: 119000
                            net: 100000
                            tax_rate: 1900
                      base_rental_price:
                        currency: EUR
                        gross: 119000
                        net: 100000
                      bundle_id: abc123
                      id: 739b63c2-9e58-4964-b38d-4ebb424de242
                      origin: abc123
                      pretty_id: abc123
                      price:
                        currency: EUR
                        gross: 119000
                        net: 100000
                      pricing_category: abc123
                      product_id: abc123
                      quantity: 2
                      selected_contract_type: abc123
                      seller_product_references:
                      - reference: 123ab-5343
                        source: sap
                      subtitle: abc123
                      title: abc123
                    subtitle: abc123
                    title: abc123
                  metadata:
                    affiliate_code: '123456'
                  pricing_overview:
                    breakdown:
                    - amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                      title: Monthly (x36)
                      tooltip: The first rent fee is included in the first payment. More details later, in topi checkout.
                    instead_of_amount:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    items_summaries:
                    - identifier: abc123
                      pay_now:
                        pay_now_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                      pay_now_excluding_sublines:
                        pay_now_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                      rent:
                      - duration: 12
                        monthly_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                      rent_excluding_sublines:
                      - duration: 12
                        monthly_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                      total_pay_now:
                        pay_now_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                      total_rent:
                      - duration: 12
                        monthly_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                    shipping_amount:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    total_amount:
                      currency: EUR
                      gross: 119000
                      net: 100000
                  sales_agent:
                    email: alice@example.com
                    external_agent_id: abc123
                    name: abc123
                    phone: abc123
                  sales_channel: ecommerce
                  seller_offer_redirect_url: https://example.com/foo
                  seller_offer_reference: ref-1234
                  shipping:
                    is_in_store_pickup: false
                    price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    seller_shipping_reference: Sandbox Shipping Service
                  shipping_address:
                    city: Munich
                    country_code: DE
                    line1: 10 Downing Street
                    line2: Flat 42
                    postal_code: '10243'
                    recipient_name: Felix Wolf
                    region: Bavaria
                  status: voided
                pagination:
                  page: 1
                  page_size: 1
                  total_count: 1
                  total_pages: 1
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2Seller_header_Authorization:
        - seller-offer:read
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl -X GET https://seller-api.topi.eu/v1/offers/paginated \\\n  -H \"Authorization: Bearer $ACCESS_TOKEN\"\n"
      - lang: javascript
        label: JavaScript (fetch)
        source: "const response = await fetch('https://seller-api.topi.eu/v1/offers/paginated', {\n  method: 'GET',\n  headers: {\n    'Authorization': `Bearer ${ACCESS_TOKEN}`\n  }\n});\n\nconst data = await response.json();\nconsole.log(data);\n"
  /v1/offers/partners:
    post:
      tags:
      - offer
      summary: Create an offer for a partner
      description: 'Creates a topi offer.


        Returns HTTP 200 plus basic information about the offer on success.


        The request returns an HTTP Unprocessable Entity in the following scenarios:


        - When `"lines"` is an empty array.

        - When `"lines"` contains any products that are not available in the topi catalog

        - When the `"seller_offer_reference"` is reusing a value of an offer that is currently active


        ## When using in the Sandbox


        The following seller offer references are considered to be "active":


        - `"ref-1234"`


        The following seller product references are considered to be available in the catalog:


        - `{"source": "sap", "reference": "123"}`

        - `{"source": "sap", "reference": "456"}`

        - `{"source": "sku", "reference": "123abc"}`


        The following seller product references are considered to be available in the catalog but not supported:


        - `{"source": "sku", "reference": "unsupported-1"}`


        The following shipping reference is considered to be available but not supported:


        - `"unsupported-shipping-reference"`

        '
      operationId: offer#createForPartner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePayloadWithMandatorySalesAgent2'
            example:
              customer:
                company:
                  billing_address:
                    city: Munich
                    country_code: DE
                    line1: 10 Downing Street
                    line2: Flat 42
                    postal_code: '10243'
                    region: Bavaria
                  name: Unicorn Corp
                  tax_number: '123456789'
                  vat_number: DE123456789
                customer_group: education
                email: alice@example.com
                full_name: John Butler
                phone_number: abc123
              draft_offer_id: abc123
              exit_redirect: https://example.com/foo
              expires_at: '1970-01-01T00:00:01Z'
              lines:
              - base_rental_price:
                  currency: EUR
                  gross: 119000
                  net: 100000
                bundle_index: abc123
                price:
                  currency: EUR
                  gross: 119000
                  net: 100000
                product_id: abc123
                quantity: 2
                seller_product_reference:
                  reference: 123ab-5343
                  source: sap
                sub_lines:
                - base_rental_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  bundle_index: abc123
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  product_id: abc123
                  quantity: 2
                  seller_product_reference:
                    reference: 123ab-5343
                    source: sap
                  subtitle: abc123
                  title: abc123
                subtitle: abc123
                title: abc123
              - base_rental_price:
                  currency: EUR
                  gross: 119000
                  net: 100000
                bundle_index: abc123
                price:
                  currency: EUR
                  gross: 119000
                  net: 100000
                product_id: abc123
                quantity: 2
                seller_product_reference:
                  reference: 123ab-5343
                  source: sap
                sub_lines:
                - base_rental_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  bundle_index: abc123
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  product_id: abc123
                  quantity: 2
                  seller_product_reference:
                    reference: 123ab-5343
                    source: sap
                  subtitle: abc123
                  title: abc123
                subtitle: abc123
                title: abc123
              metadata:
                affiliate_code: '123456'
              sales_agent:
                email: alice@example.com
                external_agent_id: abc123
                name: abc123
                phone: abc123
              sales_channel: ecommerce
              seller_offer_reference: ref-1234
              shipping:
                is_in_store_pickup: false
                price:
                  currency: EUR
                  gross: 119000
                  net: 100000
                seller_shipping_reference: Sandbox Shipping Service
              shipping_address:
                city: Munich
                country_code: DE
                line1: 10 Downing Street
                line2: Flat 42
                postal_code: '10243'
[...]
