openapi: 3.0.3
info:
  title: topi Seller catalog order API
  description: '# Localization


    Strings returned can be localized when the _Accept-Language_ header is provided in the request. It should follow the [RFC-2616 convention](http://www.ietf.org/rfc/rfc2616.txt).

    '
  version: 1.0.0
servers:
- url: https://seller-api-sandbox.topi-sandbox.eu
- url: https://seller-api.topi.eu
- url: https://seller-api.topi-staging.eu
- url: https://seller-api-sandbox.topi-sandbox-staging.eu
tags:
- name: order
  description: "Provides operations to handle orders for end-customers.\n\n## Webhooks\n\nWe will ping the URL provided whenever an order has changed its status to: `\"created\"`, `\"completed\"`, or `\"canceled\"`.\n\n**Payload**:\n\n- Available fields:\n    - `id`: `string`\n    - `assets`: `array` of `Asset`\n    - `metadata`: `object`\n    - `offer_id`: `string`\n    - `seller_offer_reference`: `string`\n    - `status`: `string enum`\n    - `shipping_address`: `ShippingAddress` \n    \n    `ShippingAddress` contains this fields:\n    - `name`: `string`\n    - `line1`: `string`\n    - `line2`: `string`\n    - `postal_code`: `string`\n    - `city`: `string`\n    - `region`: `string`\n    - `country_code`: `string`\n"
paths:
  /v1/orders:
    get:
      tags:
      - order
      summary: List all orders (deprecated)
      description: 'Returns a list of created orders, filterable by `query` or `created_by`. (deprecated)


        This method is deprecated. Please use [List all orders with pagination](#/order/getBySellerPaginated) instead.'
      operationId: order#getBySeller
      parameters:
      - name: query
        in: query
        description: Search query. It can be a string or a number or both
        allowEmptyValue: true
        schema:
          type: string
          description: Search query. It can be a string or a number or both
          example: status
        examples:
          default:
            summary: default
            value: status
      - name: created_by
        in: query
        description: a comma-separated list of sales agents emails
        allowEmptyValue: true
        schema:
          type: string
          description: a comma-separated list of sales agents emails
          example: sales-agent@example.com,anothergreatone@example.com
        example: sales-agent@example.com,anothergreatone@example.com
      - name: partners_only
        in: query
        description: a boolean indicating whether to retrieve orders from partner sellers only
        allowEmptyValue: true
        schema:
          type: boolean
          description: a boolean indicating whether to retrieve orders from partner sellers only
          example: false
        example: false
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersSummary'
              example:
                orders:
                - agent_name: abc123
                  company_name: abc123
                  created_at: '1970-01-01T00:00:01Z'
                  full_name: abc123
                  id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  offer_id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  seller_offer_reference: abc123
                  status: confirmed
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
      deprecated: true
      security:
      - OAuth2Seller_header_Authorization:
        - seller-order:read
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl -X GET https://seller-api.topi.eu/v1/orders \\\n  -H \"Authorization: Bearer $ACCESS_TOKEN\"\n"
      - lang: javascript
        label: JavaScript (fetch)
        source: "const response = await fetch('https://seller-api.topi.eu/v1/orders', {\n  method: 'GET',\n  headers: {\n    'Authorization': `Bearer ${ACCESS_TOKEN}`\n  }\n});\n\nconst data = await response.json();\nconsole.log(data);\n"
  /v1/orders/{id}:
    get:
      tags:
      - order
      summary: Retrieve an order
      description: 'Returns a single order.


        ### When using in the Sandbox


        Use the following ID''s to get different fixtures. Remember that the URL must

        be encoded:


        - Status `"created"`: `"52c1e8ec-a592-48a9-b574-ab88b0937b38"`

        - Status `"confirmed"`: `"aac1e833-3391-134a-c567-acd8b0937ad3"`

        - Status `"partially_fulfilled"`: `"b3a64e36-6fa2-40a6-9402-e949c47feb87"`

        - Status `"completed"`: `"aa6a50f4-c2d4-4961-9689-ebd0f0f92a9e"`

        - Status `"canceled"`: `"17c45c3d-cd61-4e2f-a562-ff8f349067de"`


        Any other ID will return an HTTP 404 error.

        '
      operationId: order#show
      parameters:
      - name: id
        in: path
        description: topi order ID
        required: true
        schema:
          type: string
          description: topi order ID
          example: 739b63c2-9e58-4964-b38d-4ebb424de242
          format: regexp
          pattern: ^[0-9A-Za-z\-]+$
        example: 739b63c2-9e58-4964-b38d-4ebb424de242
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullOrderResult'
              example:
                assets:
                - id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  seller_product_references:
                  - reference: 123ab-5343
                    source: sap
                  serial_number: BA-3456786-334-9
                  status: shipped
                  title: Pro Laptop 64GB
                  tracking_url: abc123
                canceled_at: '1970-01-01T00:00:01Z'
                created_at: '1970-01-01T00:00:01Z'
                customer_info:
                  company:
                    billing_address:
                      city: Munich
                      country_code: DE
                      line1: 10 Downing Street
                      line2: Flat 42
                      postal_code: '10243'
                      region: Bavaria
                    name: Unicorn Corp
                    tax_number: '123456789'
                    vat_number: DE123456789
                  customer_group: education
                  email: alice@example.com
                  full_name: John Butler
                  phone_number: abc123
                id: 739b63c2-9e58-4964-b38d-4ebb424de242
                metadata:
                  tracking_number: '123456'
                offer_created_at: '1970-01-01T00:00:01Z'
                offer_id: 739b63c2-9e58-4964-b38d-4ebb424de242
                order_lines:
                - base_rental_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  contract_type: rent
                  duration: 6
                  monthly_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  pretty_id: abc123
                  product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  quantity: 1
                  selected_first_party_services:
                  - additional_values:
                      accessory_type: experiment_charger
                    id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    monthly_price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    type: topi_replace
                  seller_product_references:
                  - reference: 123ab-5343
                    source: sap
                  sublines:
                  - base_rental_price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    contract_type: rent
                    duration: 6
                    monthly_price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    pretty_id: abc123
                    product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    quantity: 1
                    selected_first_party_services:
                    - additional_values:
                        accessory_type: experiment_charger
                      id: 739b63c2-9e58-4964-b38d-4ebb424de242
                      monthly_price:
                        currency: EUR
                        gross: 119000
                        net: 100000
                      type: topi_replace
                    seller_product_references:
                    - reference: 123ab-5343
                      source: sap
                    subtitle: abc123
                    title: abc123
                    unit_price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                  subtitle: abc123
                  title: abc123
                  unit_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                sales_agent:
                  email: alice@example.com
                  external_agent_id: abc123
                  name: abc123
                  phone: abc123
                seller_info:
                  address:
                    city: abc123
                    country_code: DE
                    line1: abc123
                    line2: aaa
                    postal_code: abc123
                    region: abc123
                  capability_add_custom_products: false
                  capability_anonymized_pricing: false
                  capability_anonymous_ecom_offer_creation: false
                  capability_bundles: false
                  capability_chatbot_id: abc123
                  capability_dual_pricing: false
                  capability_hide_buy_now: false
                  capability_international_shipment: false
                  currency: abc123
                  email: abc123
                  id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  logo_url: abc123
                  name: abc123
                  parent_seller_id: abc123
                  pdf_reader_assistant_id: abc123
                  pretty_name: abc123
                  product_reference_source: abc123
                seller_offer_reference: abc123
                shipping_address:
                  city: Munich
                  country_code: DE
                  line1: 10 Downing Street
                  line2: Flat 42
                  postal_code: '10243'
                  recipient_name: Felix Wolf
                  region: Bavaria
                shipping_info:
                  is_in_store_pickup: false
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  seller_shipping_reference: Sandbox Shipping Service
                status: confirmed
                tracking_urls:
                - abc123
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2Seller_header_Authorization:
        - seller-order:read
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl -X GET https://seller-api.topi.eu/v1/orders/{id} \\\n  -H \"Authorization: Bearer $ACCESS_TOKEN\"\n"
      - lang: javascript
        label: JavaScript (fetch)
        source: "const response = await fetch('https://seller-api.topi.eu/v1/orders/{id}', {\n  method: 'GET',\n  headers: {\n    'Authorization': `Bearer ${ACCESS_TOKEN}`\n  }\n});\n\nconst data = await response.json();\nconsole.log(data);\n"
    patch:
      tags:
      - order
      summary: Set metadata on an order
      description: Sets arbitrary JSON metadata on an order.
      operationId: order#setMetadata
      parameters:
      - name: id
        in: path
        description: topi order ID
        required: true
        schema:
          type: string
          description: topi order ID
          example: 739b63c2-9e58-4964-b38d-4ebb424de242
          format: regexp
          pattern: ^[0-9A-Za-z\-]+$
        example: 739b63c2-9e58-4964-b38d-4ebb424de242
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetMetadataRequestBody'
            example:
              metadata:
                tracking_number: '123456'
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResult'
              example:
                assets:
                - id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  seller_product_references:
                  - reference: 123ab-5343
                    source: sap
                  serial_number: BA-3456786-334-9
                  status: shipped
                  title: Pro Laptop 64GB
                  tracking_url: abc123
                id: 739b63c2-9e58-4964-b38d-4ebb424de242
                metadata:
                  tracking_number: '123456'
                offer_id: 739b63c2-9e58-4964-b38d-4ebb424de242
                seller_offer_reference: abc123
                status: confirmed
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2Seller_header_Authorization:
        - seller-order:edit
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl -X PATCH https://seller-api.topi.eu/v1/orders/{id} \\\n  -H \"Authorization: Bearer $ACCESS_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n  \"metadata\": {\n    \"tracking_number\": \"123456\"\n  }\n}'\n"
      - lang: javascript
        label: JavaScript (fetch)
        source: "const response = await fetch('https://seller-api.topi.eu/v1/orders/{id}', {\n  method: 'PATCH',\n  headers: {\n    'Authorization': `Bearer ${ACCESS_TOKEN}`,\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n  \"metadata\": {\n    \"tracking_number\": \"123456\"\n  }\n})\n});\n\nconst data = await response.json();\nconsole.log(data);\n"
  /v1/orders/{id}/accept:
    post:
      tags:
      - order
      summary: Confirm an order
      description: Sets the status of an existing order to "confirmed". You can only accept orders that have been in the status "created" or "acknowledged".
      operationId: order#acceptOrder
      parameters:
      - name: id
        in: path
        description: topi order ID
        required: true
        schema:
          type: string
          description: topi order ID
          example: 739b63c2-9e58-4964-b38d-4ebb424de242
          format: regexp
          pattern: ^[0-9A-Za-z\-]+$
        example: 739b63c2-9e58-4964-b38d-4ebb424de242
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResult'
              example:
                assets:
                - id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  seller_product_references:
                  - reference: 123ab-5343
                    source: sap
                  serial_number: BA-3456786-334-9
                  status: shipped
                  title: Pro Laptop 64GB
                  tracking_url: abc123
                id: 739b63c2-9e58-4964-b38d-4ebb424de242
                metadata:
                  tracking_number: '123456'
                offer_id: 739b63c2-9e58-4964-b38d-4ebb424de242
                seller_offer_reference: abc123
                status: confirmed
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: 'InvalidStatus: Unprocessable Entity response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2Seller_header_Authorization:
        - seller-order:edit
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://seller-api.topi.eu/v1/orders/{id}/accept \\\n  -H \"Authorization: Bearer $ACCESS_TOKEN\"\n"
      - lang: javascript
        label: JavaScript (fetch)
        source: "const response = await fetch('https://seller-api.topi.eu/v1/orders/{id}/accept', {\n  method: 'POST',\n  headers: {\n    'Authorization': `Bearer ${ACCESS_TOKEN}`\n  }\n});\n\nconst data = await response.json();\nconsole.log(data);\n"
  /v1/orders/{id}/acknowledge:
    post:
      tags:
      - order
      summary: Acknowledge an order
      description: Sets the status of an existing order to "acknowledged". You can only acknowledge orders that have been in the status "created".
      operationId: order#acknowledgeOrder
      parameters:
      - name: id
        in: path
        description: topi order ID
        required: true
        schema:
          type: string
          description: topi order ID
          example: 739b63c2-9e58-4964-b38d-4ebb424de242
          format: regexp
          pattern: ^[0-9A-Za-z\-]+$
        example: 739b63c2-9e58-4964-b38d-4ebb424de242
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResult'
              example:
                assets:
                - id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  seller_product_references:
                  - reference: 123ab-5343
                    source: sap
                  serial_number: BA-3456786-334-9
                  status: shipped
                  title: Pro Laptop 64GB
                  tracking_url: abc123
                id: 739b63c2-9e58-4964-b38d-4ebb424de242
                metadata:
                  tracking_number: '123456'
                offer_id: 739b63c2-9e58-4964-b38d-4ebb424de242
                seller_offer_reference: abc123
                status: confirmed
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: 'InvalidStatus: Unprocessable Entity response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2Seller_header_Authorization:
        - seller-order:edit
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://seller-api.topi.eu/v1/orders/{id}/acknowledge \\\n  -H \"Authorization: Bearer $ACCESS_TOKEN\"\n"
      - lang: javascript
        label: JavaScript (fetch)
        source: "const response = await fetch('https://seller-api.topi.eu/v1/orders/{id}/acknowledge', {\n  method: 'POST',\n  headers: {\n    'Authorization': `Bearer ${ACCESS_TOKEN}`\n  }\n});\n\nconst data = await response.json();\nconsole.log(data);\n"
  /v1/orders/{id}/reject:
    post:
      tags:
      - order
      summary: Reject an order
      description: Sets the status of an existing order to "rejected". You can only reject orders that have been in the status "created" or "acknowledged".
      operationId: order#rejectOrder
      parameters:
      - name: id
        in: path
        description: topi order ID
        required: true
        schema:
          type: string
          description: topi order ID
          example: 739b63c2-9e58-4964-b38d-4ebb424de242
          format: regexp
          pattern: ^[0-9A-Za-z\-]+$
        example: 739b63c2-9e58-4964-b38d-4ebb424de242
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResult'
              example:
                assets:
                - id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  seller_product_references:
                  - reference: 123ab-5343
                    source: sap
                  serial_number: BA-3456786-334-9
                  status: shipped
                  title: Pro Laptop 64GB
                  tracking_url: abc123
                id: 739b63c2-9e58-4964-b38d-4ebb424de242
                metadata:
                  tracking_number: '123456'
                offer_id: 739b63c2-9e58-4964-b38d-4ebb424de242
                seller_offer_reference: abc123
                status: confirmed
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: 'InvalidStatus: Unprocessable Entity response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2Seller_header_Authorization:
        - seller-order:edit
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://seller-api.topi.eu/v1/orders/{id}/reject \\\n  -H \"Authorization: Bearer $ACCESS_TOKEN\"\n"
      - lang: javascript
        label: JavaScript (fetch)
        source: "const response = await fetch('https://seller-api.topi.eu/v1/orders/{id}/reject', {\n  method: 'POST',\n  headers: {\n    'Authorization': `Bearer ${ACCESS_TOKEN}`\n  }\n});\n\nconst data = await response.json();\nconsole.log(data);\n"
  /v1/orders/paginated:
    get:
      tags:
      - order
      summary: List all orders with pagination
      description: "Returns a list of created orders with pagination, filterable by `query` or `created_by`. Supports offset-based pagination (page/limit) and range filters for efficient data traversal. \n\n**Recommended approach for paginating over all data:** Use ID range filters with limit=100. The ID range filter (id_gt) works like cursor-based pagination, providing the most efficient way to iterate through the complete dataset. Pass the last ID from the previous page as id_gt to fetch the next batch. \n\nExamples:\n- First page: ?limit=100\n- Next page: ?id_gt=<last_id_from_previous_page>&limit=100\n- Time-based sync: ?created_at_gt=<last_sync_time>&limit=100"
      operationId: order#getBySellerPaginated
      parameters:
      - name: limit
        in: query
        description: the size of the page
        allowEmptyValue: true
        schema:
          type: integer
          description: the size of the page
          example: 1
          format: int64
        example: 1
      - name: page
        in: query
        description: the index of the page
        allowEmptyValue: true
        schema:
          type: integer
          description: the index of the page
          example: 1
          format: int64
        example: 1
      - name: query
        in: query
        description: Search query. It can be a string or a number or both
        allowEmptyValue: true
        schema:
          type: string
          description: Search query. It can be a string or a number or both
          example: status
        examples:
          default:
            summary: default
            value: status
      - name: created_by
        in: query
        description: a comma-separated list of sales agents emails
        allowEmptyValue: true
        schema:
          type: string
          description: a comma-separated list of sales agents emails
          example: sales-agent@example.com,anothergreatone@example.com
        example: sales-agent@example.com,anothergreatone@example.com
      - name: partners_only
        in: query
        description: a boolean indicating whether to retrieve orders from partner sellers only
        allowEmptyValue: true
        schema:
          type: boolean
          description: a boolean indicating whether to retrieve orders from partner sellers only
          example: false
        example: false
      - name: sort_by
        in: query
        description: Field to sort by
        allowEmptyValue: true
        schema:
          type: string
          description: Field to sort by
          default: created_at
          example: created_at
          enum:
          - created_at
        example: created_at
      - name: sort_order
        in: query
        description: Sort direction
        allowEmptyValue: true
        schema:
          type: string
          description: Sort direction
          default: asc
          example: desc
          enum:
          - asc
          - desc
        example: desc
      - name: id_gt
        in: query
        description: 'Filter: order ID > value (UUID)'
        allowEmptyValue: true
        schema:
          type: string
          description: 'Filter: order ID > value (UUID)'
          example: 550e8400-e29b-41d4-a716-446655440000
          format: uuid
        example: 550e8400-e29b-41d4-a716-446655440000
      - name: id_gte
        in: query
        description: 'Filter: order ID >= value (UUID)'
        allowEmptyValue: true
        schema:
          type: string
          description: 'Filter: order ID >= value (UUID)'
          example: 550e8400-e29b-41d4-a716-446655440000
          format: uuid
        example: 550e8400-e29b-41d4-a716-446655440000
      - name: id_lt
        in: query
        description: 'Filter: order ID < value (UUID)'
        allowEmptyValue: true
        schema:
          type: string
          description: 'Filter: order ID < value (UUID)'
          example: 550e8400-e29b-41d4-a716-446655440000
          format: uuid
        example: 550e8400-e29b-41d4-a716-446655440000
      - name: id_lte
        in: query
        description: 'Filter: order ID <= value (UUID)'
        allowEmptyValue: true
        schema:
          type: string
          description: 'Filter: order ID <= value (UUID)'
          example: 550e8400-e29b-41d4-a716-446655440000
          format: uuid
        example: 550e8400-e29b-41d4-a716-446655440000
      - name: created_at_gt
        in: query
        description: 'Filter: order created_at > value (RFC3339)'
        allowEmptyValue: true
        schema:
          type: string
          description: 'Filter: order created_at > value (RFC3339)'
          example: '2025-01-01T00:00:00Z'
          format: date-time
        example: '2025-01-01T00:00:00Z'
      - name: created_at_gte
        in: query
        description: 'Filter: order created_at >= value (RFC3339)'
        allowEmptyValue: true
        schema:
          type: string
          description: 'Filter: order created_at >= value (RFC3339)'
          example: '2025-01-01T00:00:00Z'
          format: date-time
        example: '2025-01-01T00:00:00Z'
      - name: created_at_lt
        in: query
        description: 'Filter: order created_at < value (RFC3339)'
        allowEmptyValue: true
        schema:
          type: string
          description: 'Filter: order created_at < value (RFC3339)'
          example: '2025-12-31T23:59:59Z'
          format: date-time
        example: '2025-12-31T23:59:59Z'
      - name: created_at_lte
        in: query
        description: 'Filter: order created_at <= value (RFC3339)'
        allowEmptyValue: true
        schema:
          type: string
          description: 'Filter: order created_at <= value (RFC3339)'
          example: '2025-12-31T23:59:59Z'
          format: date-time
        example: '2025-12-31T23:59:59Z'
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersSummaryPaginated'
              example:
                orders:
                - agent_name: abc123
                  company_name: abc123
                  created_at: '1970-01-01T00:00:01Z'
                  full_name: abc123
                  id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  offer_id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  seller_offer_reference: abc123
                  status: confirmed
                pagination:
                  page: 1
                  page_size: 1
                  total_count: 1
                  total_pages: 1
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
      security:
      - OAuth2Seller_header_Authorization:
        - seller-order:read
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl -X GET https://seller-api.topi.eu/v1/orders/paginated \\\n  -H \"Authorization: Bearer $ACCESS_TOKEN\"\n"
      - lang: javascript
        label: JavaScript (fetch)
        source: "const response = await fetch('https://seller-api.topi.eu/v1/orders/paginated', {\n  method: 'GET',\n  headers: {\n    'Authorization': `Bearer ${ACCESS_TOKEN}`\n  }\n});\n\nconst data = await response.json();\nconsole.log(data);\n"
components:
  schemas:
    PaginationMetadata:
      type: object
      properties:
        page:
          type: integer
          description: Current page number
          example: 1
          format: int64
        page_size:
          type: integer
          description: Number of items per page
          example: 1
          format: int64
        total_count:
          type: integer
          description: Total number of items
          example: 1
          format: int64
        total_pages:
          type: integer
          description: Total number of pages
          example: 1
          format: int64
      example:
        page: 1
        page_size: 1
        total_count: 1
        total_pages: 1
    Address:
      type: object
      properties:
        city:
          type: string
          description: City
          example: abc123
        country_code:
          type: string
          description: ISO 3166-1 alpha-2
          example: DE
        line1:
          type: string
          description: First line (street, number, etc.)
          example: abc123
        line2:
          type: string
          description: Second line (flat number, etc.)
          example: aaa
          maxLength: 40
        postal_code:
          type: string
          description: Postal code
          example: abc123
        region:
          type: string
          description: Region, county, province, etc.
          example: abc123
      example:
        city: abc123
        country_code: DE
        line1: abc123
        line2: aaa
        postal_code: abc123
        region: abc123
      required:
      - line1
      - postal_code
      - city
      - country_code
    MoneyAmount:
      type: object
      properties:
        currency:
          type: string
          description: 'Currency code, see ISO 4127 (https://www.iso.org/iso-4217-currency-codes.html) (supported: EUR, GBP, USD)'
          example: EUR
        gross:
          type: integer
          description: Gross amount of money, expressed in the minor unit for the currency
          example: 119000
          format: int64
        net:
          type: integer
          description: Net amount of money, expressed in the minor unit for the currency
          example: 100000
          format: int64
      example:
        currency: EUR
        gross: 119000
        net: 100000
      required:
      - gross
      - net
      - currency
    SellerInfo:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/Address'
        capability_add_custom_products:
          type: boolean
          description: If the seller can add custom products
          example: false
        capability_anonymized_pricing:
          type: boolean
          description: If the seller wishes to anonymize catalog prices
          example: false
        capability_anonymous_ecom_offer_creation:
          type: boolean
          description: Ability to skip required shipping address for ecom offers.
          example: false
        capability_bundles:
          type: boolean
          description: If the seller has bundles enabled
          example: false
        capability_chatbot_id:
          type: string
          description: Chatbot id for the seller. This enables a chatbase chatbot for the seller
          example: abc123
        capability_dual_pricing:
          type: boolean
          description: If true, the seller has the Dual Pricing system enabled
          example: false
        capability_hide_buy_now:
          type: boolean
          description: If the seller should hide purchase only as option.
          example: false
        capability_international_shipment:
          type: boolean
          description: If the seller has international shipment enabled
          example: false
        currency:
          type: string
          description: The currency of the seller
          example: abc123
        email:
          type: string
          description: The seller email
          example: abc123
        id:
          type: string
          description: The seller id
          example: 739b63c2-9e58-4964-b38d-4ebb424de242
          format: regexp
          pattern: ^[0-9A-Za-z\-]+$
        logo_url:
          type: string
          description: The seller logo
          example: abc123
        name:
          type: string
          description: The name of the seller
          example: abc123
        parent_seller_id:
          type: string
          description: the ID of the parent seller, we use this for multipliers
          example: abc123
        pdf_reader_assistant_id:
          type: string
          description: The assistant ID to use for PDF reader, use null to disable PDF reader
          example: abc123
        pretty_name:
          type: string
          description: The pretty, customer-facing name of the seller
          example: abc123
        product_reference_source:
          type: string
          description: The seller product reference source
          example: abc123
      example:
        address:
          city: abc123
          country_code: DE
          line1: abc123
          line2: aaa
          postal_code: abc123
          region: abc123
        capability_add_custom_products: false
        capability_anonymized_pricing: false
        capability_anonymous_ecom_offer_creation: false
        capability_bundles: false
        capability_chatbot_id: abc123
        capability_dual_pricing: false
        capability_hide_buy_now: false
        capability_international_shipment: false
        currency: abc123
        email: abc123
        id: 739b63c2-9e58-4964-b38d-4ebb424de242
        logo_url: abc123
        name: abc123
        parent_seller_id: abc123
        pdf_reader_assistant_id: abc123
        pretty_name: abc123
        product_reference_source: abc123
      required:
      - id
      - name
      - address
      - email
      - product_reference_source
      - capability_dual_pricing
      - capability_hide_buy_now
      - capability_anonymized_pricing
      - capability_bundles
      - capability_anonymous_ecom_offer_creation
      - capability_international_shipment
      - capability_add_custom_products
      - currency
    SalesAgent:
      type: object
      properties:
        email:
          type: string
          description: E-mail
          example: alice@example.com
          format: email
        external_agent_id:
          type: string
          description: Id number used to identify the sales agent in the seller's internal system
          example: abc123
        name:
          type: string
          description: Name of the agent
          example: abc123
        phone:
          type: string
          description: Phone number
          example: abc123
      description: Sales agent related to an offer
      example:
        email: alice@example.com
        external_agent_id: abc123
        name: abc123
        phone: abc123
      required:
      - name
      - phone
      - email
    OrdersSummary:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/OrderSummary'
          description: an array with the orders requested
          example:
          - agent_name: abc123
            company_name: abc123
            created_at: '1970-01-01T00:00:01Z'
            full_name: abc123
            id: 739b63c2-9e58-4964-b38d-4ebb424de242
            offer_id: 739b63c2-9e58-4964-b38d-4ebb424de242
            seller_offer_reference: abc123
            status: confirmed
      example:
        orders:
        - agent_name: abc123
          company_name: abc123
          created_at: '1970-01-01T00:00:01Z'
          full_name: abc123
          id: 739b63c2-9e58-4964-b38d-4ebb424de242
          offer_id: 739b63c2-9e58-4964-b38d-4ebb424de242
          seller_offer_reference: abc123
          status: confirmed
    BaseOrderLineItem:
      type: object
      properties:
        base_rental_price:
          $ref: '#/components/schemas/MoneyAmount'
        contract_type:
          type: string
          description: Different contracts type
          example: rent
          enum:
          - pay_now
          - rent
        duration:
          type: integer
          description: The duration in months
          example: 6
          enum:
          - 0
          - 6
          - 12
          - 24
          - 30
          - 36
          - 48
          format: int64
        monthly_price:
          $ref: '#/components/schemas/MoneyAmount'
        pretty_id:
          type: string
          description: The pretty ID of the product
          example: abc123
        product_id:
          type: string
          description: Product ID inside Topi catalog
          example: 739b63c2-9e58-4964-b38d-4ebb424de242
          format: regexp
          pattern: ^[0-9A-Za-z\-]+$
        quantity:
          type: integer
          description: Amount of products
          example: 1
          format: int64
        selected_first_party_services:
          type: array
          items:
            $ref: '#/components/schemas/FirstPartyService'
          description: Available first party services for the product
          example:
          - additional_values:
              accessory_type: experiment_charger
            id: 739b63c2-9e58-4964-b38d-4ebb424de242
            monthly_price:
              currency: EUR
              gross: 119000
              net: 100000
            type: topi_replace
        seller_product_references:
          type: array
          items:
            $ref: '#/components/schemas/SellerProductReference'
          description: Partner's own reference for this product
          example:
          - reference: 123ab-5343
            source: sap
        subtitle:
          type: string
          description: The product subtitle
          example: abc123
        title:
          type: string
          description: The product name
          example: abc123
        unit_price:
          $ref: '#/components/schemas/MoneyAmount'
      example:
        base_rental_price:
          currency: EUR
          gross: 119000
          net: 100000
        contract_type: rent
        duration: 6
        monthly_price:
          currency: EUR
          gross: 119000
          net: 100000
        pretty_id: abc123
        product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
        quantity: 1
        selected_first_party_services:
        - additional_values:
            accessory_type: experiment_charger
          id: 739b63c2-9e58-4964-b38d-4ebb424de242
          monthly_price:
            currency: EUR
            gross: 119000
            net: 100000
          type: topi_replace
        seller_product_references:
        - reference: 123ab-5343
          source: sap
        subtitle: abc123
        title: abc123
        unit_price:
          currency: EUR
          gross: 119000
          net: 100000
      required:
      - quantity
      - title
      - subtitle
      - seller_product_references
      - monthly_price
      - contract_type
      - duration
      - selected_first_party_services
    CustomerInfo:
      type: object
      properties:
        company:
          $ref: '#/components/schemas/CompanyInfo'
        customer_group:
          type: string
          description: The name of the customer group if the customer is assigned to any.
          example: education
        email:
          type: string
          description: Customer e-mail that will be used to retrieve the offer
          example: alice@example.com
          format: email
        full_name:
          type: string
          description: The full name of the person doing the checkout operation.
          example: John Butler
        phone_number:
          type: string
          description: Phone number associated to the offer.
          example: abc123
      description: Customer information
      example:
        company:
          billing_address:
            city: Munich
            country_code: DE
            line1: 10 Downing Street
            line2: Flat 42
            postal_code: '10243'
            region: Bavaria
          name: Unicorn Corp
          tax_number: '123456789'
          vat_number: DE123456789
        customer_group: education
        email: alice@example.com
        full_name: John Butler
        phone_number: abc123
    OrderLineItem:
      type: object
      properties:
        base_rental_price:
          $ref: '#/components/schemas/MoneyAmount'
        contract_type:
          type: string
          description: Different contracts type
          example: rent
          enum:
          - pay_now
          - rent
        duration:
          type: integer
          description: The duration in months
          example: 6
          enum:
          - 0
          - 6
          - 12
          - 24
          - 30
          - 36
          - 48
          format: int64
        monthly_price:
          $ref: '#/components/schemas/MoneyAmount'
        pretty_id:
          type: string
          description: The pretty ID of the product
          example: abc123
        product_id:
          type: string
          description: Product ID inside Topi catalog
          example: 739b63c2-9e58-4964-b38d-4ebb424de242
          format: regexp
          pattern: ^[0-9A-Za-z\-]+$
        quantity:
          type: integer
          description: Amount of products
          example: 1
          format: int64
        selected_first_party_services:
          type: array
          items:
            $ref: '#/components/schemas/FirstPartyService'
          description: Available first party services for the product
          example:
          - additional_values:
              accessory_type: experiment_charger
            id: 739b63c2-9e58-4964-b38d-4ebb424de242
            monthly_price:
              currency: EUR
              gross: 119000
              net: 100000
            type: topi_replace
        seller_product_references:
          type: array
          items:
            $ref: '#/components/schemas/SellerProductReference'
          description: Partner's own reference for this product
          example:
          - reference: 123ab-5343
            source: sap
        sublines:
          type: array
          items:
            $ref: '#/components/schemas/BaseOrderLineItem'
          description: "Service items that were confirmed as part of this order line.\n\t\tSublines represent the services or components that were selected during the offer phase and are now part of the confirmed order, maintaining the same relationship structure as the original offer.\n\t\t\n\t\tBusiness Rules:\n\t\t- Sublines are created from offer sublines when the offer is accepted\n\t\t- Each subline maintains the same contract terms and quantity as the parent order line\n\t\t- Sublines preserve their service-category classification and pricing\n\t\t- Parent-child relationships are maintained throughout the order lifecycle\n\t\t- Sublines can be individually tracked for fulfillment and billing purposes\n\t\t\n\t\tExample: A confirmed order for a smartphone with screen protection, and setup service as sublines"
          example:
          - base_rental_price:
              currency: EUR
              gross: 119000
              net: 100000
            contract_type: rent
            duration: 6
            monthly_price:
              currency: EUR
              gross: 119000
              net: 100000
            pretty_id: abc123
            product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
            quantity: 1
            selected_first_party_services:
            - additional_values:
                accessory_type: experiment_charger
              id: 739b63c2-9e58-4964-b38d-4ebb424de242
              monthly_price:
                currency: EUR
                gross: 119000
                net: 100000
              type: topi_replace
            seller_product_references:
            - reference: 123ab-5343
              source: sap
            subtitle: abc123
            title: abc123
            unit_price:
              currency: EUR
              gross: 119000
              net: 100000
        subtitle:
          type: string
          description: The product subtitle
          example: abc123
        title:
          type: string
          description: The product name
          example: abc123
        unit_price:
          $ref: '#/components/schemas/MoneyAmount'
      example:
        base_rental_price:
          currency: EUR
          gross: 119000
          net: 100000
        contract_type: rent
        duration: 6
        monthly_price:
          currency: EUR
          gross: 119000
          net: 100000
        pretty_id: abc123
        product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
        quantity: 1
        selected_first_party_services:
        - additional_values:
            accessory_type: experiment_charger
          id: 739b63c2-9e58-4964-b38d-4ebb424de242
          monthly_price:
            currency: EUR
            gross: 119000
            net: 100000
          type: topi_replace
        seller_product_references:
        - reference: 123ab-5343
          source: sap
        sublines:
        - base_rental_price:
            currency: EUR
            gross: 119000
            net: 100000
          contract_type: rent
          duration: 6
          monthly_price:
            currency: EUR
            gross: 119000
            net: 100000
          pretty_id: abc123
          product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
          quantity: 1
          selected_first_party_services:
          - additional_values:
              accessory_type: experiment_charger
            id: 739b63c2-9e58-4964-b38d-4ebb424de242
            monthly_price:
              currency: EUR
              gross: 119000
              net: 100000
            type: topi_replace
          seller_product_references:
          - reference: 123ab-5343
            source: sap
          subtitle: abc123
          title: abc123
          unit_price:
            currency: EUR
            gross: 119000
            net: 100000
        subtitle: abc123
        title: abc123
        unit_price:
          currency: EUR
          gross: 119000
          net: 100000
      required:
      - quantity
      - title
      - subtitle
      - seller_product_references
      - monthly_price
      - contract_type
      - duration
      - selected_first_party_services
    SellerProductReference:
      type: object
      properties:
        reference:
          type: string
          description: The ID related with the source. This value should be unique for that source.
          example: 123ab-5343
          pattern: '[a-zA-Z0-9._-]'
          minLength: 1
        source:
          type: string
          description: The seller internal source name for this reference type.
          example: sap
          minLength: 1
      example:
        reference: 123ab-5343
        source: sap
      required:
      - source
      - reference
    Error:
      type: object
      properties:
        fault:
          type: boolean
          description: Is the error a server-side fault?
          example: false
        id:
          type: string
          description: ID is a unique identifier for this particular occurrence of the problem.
          example: 123abc
        message:
          type: string
          description: Message is a human-readable explanation specific to this occurrence of the problem.
          example: parameter 'p' must be an integer
        name:
          type: string
          description: Name is the name of this class of errors.
          example: bad_request
        temporary:
          type: boolean
          description: Is the error temporary?
          example: false
        timeout:
          type: boolean
          description: Is the error a timeout?
          example: false
      example:
        fault: false
        id: 123abc
        message: parameter 'p' must be an integer
        name: bad_request
        temporary: false
        timeout: false
      required:
      - name
      - id
      - message
      - temporary
      - timeout
      - fault
    ShippingAddress:
      type: object
      properties:
        city:
          type: string
          description: City
          example: Munich
        country_code:
          type: string
          description: Country code (ISO 3166-1 alpha-2)
          example: DE
        line1:
          type: string
          description: First line (street, number, etc.)
          example: 10 Downing Street
        line2:
          type: string
          description: Second line (flat number, etc.)
          example: Flat 42
          maxLength: 40
        postal_code:
          type: string
          description: Postal code
          example: '10243'
        recipient_name:
          type: string
          description: Name of the recipient
          example: Felix Wolf
        region:
          type: string
          description: Region, county, province, etc.
          example: Bavaria
      description: Shipping Address. If the sales_channel is ecommerce, this field will be required
      example:
        city: Munich
        country_code: DE
        line1: 10 Downing Street
        line2: Flat 42
        postal_code: '10243'
        recipient_name: Felix Wolf
        region: Bavaria
      required:
      - line1
      - postal_code
      - city
      - country_code
    ShippingInfo:
      type: object
      properties:
        is_in_store_pickup:
          type: boolean
          description: If the shipping info is in store pickup
          example: false
        price:
          $ref: '#/components/schemas/MoneyAmount'
        seller_shipping_reference:
          type: string
          description: Seller's own reference for shipping method
          example: Sandbox Shipping Service
      description: Shipping information
      example:
        is_in_store_pickup: false
        price:
          currency: EUR
          gross: 119000
          net: 100000
        seller_shipping_reference: Sandbox Shipping Service
      required:
      - seller_shipping_reference
      - price
    FullOrderResult:
      type: object
      properties:
        assets:
          type: array
          items:
            $ref: '#/components/schemas/Asset'
          description: A list of assets in an offer
          example:
          - id: 739b63c2-9e58-4964-b38d-4ebb424de242
            product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
            seller_product_references:
            - reference: 123ab-5343
              source: sap
            serial_number: BA-3456786-334-9
            status: shipped
            title: Pro Laptop 64GB
            tracking_url: abc123
        canceled_at:
          type: string
          example: '1970-01-01T00:00:01Z'
          format: date-time
        created_at:
          type: string
          example: '1970-01-01T00:00:01Z'
          format: date-time
        customer_info:
          $ref: '#/components/schemas/CustomerInfo'
        id:
          type: string
          description: topi order ID
          example: 739b63c2-9e58-4964-b38d-4ebb424de242
          format: regexp
          pattern: ^[0-9A-Za-z\-]+$
        metadata:
          type: object
          description: Metadata you can attach to and order. You can store here any JSON information
          example:
            tracking_number: '123456'
          additionalProperties:
            type: string
            example: aaa
            maxLength: 400
        offer_created_at:
          type: string
          example: '1970-01-01T00:00:01Z'
          format: date-time
        offer_id:
          type: string
          description: Reference to the topi offer ID
          example: 739b63c2-9e58-4964-b38d-4ebb424de242
          format: regexp
          pattern: ^[0-9A-Za-z\-]+$
        order_lines:
          type: array
          items:
            $ref: '#/components/schemas/OrderLineItem'
          description: A list of order lines in an order
          example:
          - base_rental_price:
              currency: EUR
              gross: 119000
              net: 100000
            contract_type: rent
            duration: 6
            monthly_price:
              currency: EUR
              gross: 119000
              net: 100000
            pretty_id: abc123
            product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
            quantity: 1
            selected_first_party_services:
            - additional_values:
                accessory_type: experiment_charger
              id: 739b63c2-9e58-4964-b38d-4ebb424de242
              monthly_price:
                currency: EUR
                gross: 119000
                net: 100000
              type: topi_replace
            seller_product_references:
            - reference: 123ab-5343
              source: sap
            sublines:
            - base_rental_price:
                currency: EUR
                gross: 119000
                net: 100000
              contract_type: rent
              duration: 6
              monthly_price:
                currency: EUR
                gross: 119000
                net: 100000
              pretty_id: abc123
              product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
              quantity: 1
              selected_first_party_services:
              - additional_values:
                  accessory_type: experiment_charger
                id: 739b63c2-9e58-4964-b38d-4ebb424de242
                monthly_price:
                  currency: EUR
                  gross: 119000
                  net: 100000
                type: topi_replace
              seller_product_references:
              - reference: 123ab-5343
                source: sap
              subtitle: abc123
              title: abc123
              unit_price:
                currency: EUR
                gross: 119000
                net: 100000
            subtitle: abc123
            title: abc123
            unit_price:
              currency: EUR
              gross: 119000
              net: 100000
        sales_agent:
          $ref: '#/components/schemas/SalesAgent'
        seller_info:
          $ref: '#/components/schemas/SellerInfo'
        seller_offer_reference:
          type: string
          description: Seller's own reference for this order
          example: abc123
        shipping_address:
          $ref: '#/components/schemas/ShippingAddress'
        shipping_info:
          $ref: '#/components/schemas/ShippingInfo'
        status:
          type: string
          example: confirmed
          enum:
          - created
          - confirmed
          - acknowledged
          - accepted
          - partially_fulfilled
          - completed
          - canceled
          - rejected
        tracking_urls:
          type: array
          items:
            type: string
            example: abc123
          description: All the tracking urls
          example:
          - abc123
      description: Full information about an order
      example:
        assets:
        - id: 739b63c2-9e58-4964-b38d-4ebb424de242
          product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
          seller_product_references:
          - reference: 123ab-5343
            source: sap
          serial_number: BA-3456786-334-9
          status: shipped
          title: Pro Laptop 64GB
          tracking_url: abc123
        canceled_at: '1970-01-01T00:00:01Z'
        created_at: '1970-01-01T00:00:01Z'
        customer_info:
          company:
            billing_address:
              city: Munich
              country_code: DE
              line1: 10 Downing Street
              line2: Flat 42
              postal_code: '10243'
              region: Bavaria
            name: Unicorn Corp
            tax_number: '123456789'
            vat_number: DE123456789
          customer_group: education
          email: alice@example.com
          full_name: John Butler
          phone_number: abc123
        id: 739b63c2-9e58-4964-b38d-4ebb424de242
        metadata:
          tracking_number: '123456'
        offer_created_at: '1970-01-01T00:00:01Z'
        offer_id: 739b63c2-9e58-4964-b38d-4ebb424de242
        order_lines:
        - base_rental_price:
            currency: EUR
            gross: 119000
            net: 100000
          contract_type: rent
          duration: 6
          monthly_price:
            currency: EUR
            gross: 119000
            net: 100000
          pretty_id: abc123
          product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
          quantity: 1
          selected_first_party_services:
          - additional_values:
              accessory_type: experiment_charger
            id: 739b63c2-9e58-4964-b38d-4ebb424de242
            monthly_price:
              currency: EUR
              gross: 119000
              net: 100000
            type: topi_replace
          seller_product_references:
          - reference: 123ab-5343
            source: sap
          sublines:
          - base_rental_price:
              currency: EUR
              gross: 119000
              net: 100000
            contract_type: rent
            duration: 6
            monthly_price:
              currency: EUR
              gross: 119000
              net: 100000
            pretty_id: abc123
            product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
            quantity: 1
            selected_first_party_services:
            - additional_values:
                accessory_type: experiment_charger
              id: 739b63c2-9e58-4964-b38d-4ebb424de242
              monthly_price:
                currency: EUR
                gross: 119000
                net: 100000
              type: topi_replace
            seller_product_references:
            - reference: 123ab-5343
              source: sap
            subtitle: abc123
            title: abc123
            unit_price:
              currency: EUR
              gross: 119000
              net: 100000
          subtitle: abc123
          title: abc123
          unit_price:
            currency: EUR
            gross: 119000
            net: 100000
        sales_agent:
          email: alice@example.com
          external_agent_id: abc123
          name: abc123
          phone: abc123
        seller_info:
          address:
            city: abc123
            country_code: DE
            line1: abc123
            line2: aaa
            postal_code: abc123
            region: abc123
          capability_add_custom_products: false
          capability_anonymized_pricing: false
          capability_anonymous_ecom_offer_creation: false
          capability_bundles: false
          capability_chatbot_id: abc123
          capability_dual_pricing: false
          capability_hide_buy_now: false
          capability_international_shipment: false
          currency: abc123
          email: abc123
          id: 739b63c2-9e58-4964-b38d-4ebb424de242
          logo_url: abc123
          name: abc123
          parent_seller_id: abc123
          pdf_reader_assistant_id: abc123
          pretty_name: abc123
          product_reference_source: abc123
        seller_offer_reference: abc123
        shipping_address:
          city: Munich
          country_code: DE
          line1: 10 Downing Street
          line2: Flat 42
          postal_code: '10243'
          recipient_name: Felix Wolf
          region: Bavaria
        shipping_info:
          is_in_store_pickup: false
          price:
            currency: EUR
            gross: 119000
            net: 100000
          seller_shipping_reference: Sandbox Shipping Service
        status: confirmed
        tracking_urls:
        - abc123
      required:
      - created_at
      - offer_created_at
      - customer_info
      - shipping_address
      - order_lines
      - tracking_urls
      - seller_info
      - id
      - offer_id
      - seller_offer_reference
      - status
      - assets
    SetMetadataRequestBody:
      type: object
      properties:
        metadata:
          type: object
          description: Metadata to attach. You can store any JSON information.
          example:
            tracking_number: '123456'
          additionalProperties:
            type: string
            example: aaa
            maxLength: 400
      example:
        metadata:
          tracking_number: '123456'
      required:
      - metadata
    OrderResult:
      type: object
      properties:
        assets:
          type: array
          items:
            $ref: '#/components/schemas/Asset'
          description: A list of assets in an offer
          example:
          - id: 739b63c2-9e58-4964-b38d-4ebb424de242
            product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
            seller_product_references:
            - reference: 123ab-5343
              source: sap
            serial_number: BA-3456786-334-9
            status: shipped
            title: Pro Laptop 64GB
            tracking_url: abc123
        id:
          type: string
          description: topi order ID
          example: 739b63c2-9e58-4964-b38d-4ebb424de242
          format: regexp
          pattern: ^[0-9A-Za-z\-]+$
        metadata:
          type: object
          description: Metadata you can attach to and order. You can store here any JSON information
          example:
            tracking_number: '123456'
          additionalProperties:
            type: string
            example: aaa
            maxLength: 400
        offer_id:
          type: string
          description: Reference to the topi offer ID
          example: 739b63c2-9e58-4964-b38d-4ebb424de242
          format: regexp
          pattern: ^[0-9A-Za-z\-]+$
        seller_offer_reference:
          type: string
          description: Seller's own reference for this order
          example: abc123
        status:
          type: string
          example: confirmed
          enum:
          - created
          - confirmed
          - acknowledged
          - accepted
          - partially_fulfilled
          - completed
          - canceled
          - rejected
      description: Basic information about an order
      example:
        assets:
        - id: 739b63c2-9e58-4964-b38d-4ebb424de242
          product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
          seller_product_references:
          - reference: 123ab-5343
            source: sap
          serial_number: BA-3456786-334-9
          status: shipped
          title: Pro Laptop 64GB
          tracking_url: abc123
        id: 739b63c2-9e58-4964-b38d-4ebb424de242
        metadata:
          tracking_number: '123456'
        offer_id: 739b63c2-9e58-4964-b38d-4ebb424de242
        seller_offer_reference: abc123
        status: confirmed
      required:
      - id
      - offer_id
      - seller_offer_reference
      - status
      - assets
    Asset:
      type: object
      properties:
        id:
          type: string
          description: asset ID
          example: 739b63c2-9e58-4964-b38d-4ebb424de242
          format: regexp
          pattern: ^[0-9A-Za-z\-]+$
        product_id:
          type: string
          description: product id inside the topi catalog
          example: 739b63c2-9e58-4964-b38d-4ebb424de242
          format: regexp
          pattern: ^[0-9A-Za-z\-]+$
        seller_product_references:
          type: array
          items:
            $ref: '#/components/schemas/SellerProductReference'
          description: All seller's own references for this asset
          example:
          - reference: 123ab-5343
            source: sap
        serial_number:
          type: string
          description: This is an id that identifies this asset as unique
          example: BA-3456786-334-9
        status:
          type: string
          example: shipped
          enum:
          - created
          - shipped
          - returned
          - completed
          - rejected
        title:
          type: string
          description: The name of the asset
          example: Pro Laptop 64GB
        tracking_url:
          type: string
          description: the tracking url of this specific asset
          example: abc123
      description: An item included in an order
      example:
        id: 739b63c2-9e58-4964-b38d-4ebb424de242
        product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
        seller_product_references:
        - reference: 123ab-5343
          source: sap
        serial_number: BA-3456786-334-9
        status: shipped
        title: Pro Laptop 64GB
        tracking_url: abc123
      required:
      - id
      - product_id
      - title
      - seller_product_references
      - status
    PostalAddress:
      type: object
      properties:
        city:
          type: string
          description: City
          example: Munich
        country_code:
          type: string
          description: Country code (ISO 3166-1 alpha-2)
          example: DE
        line1:
          type: string
          description: First line (street, number, etc.)
          example: 10 Downing Street
        line2:
          type: string
          description: Second line (flat number, etc.)
          example: Flat 42
          maxLength: 40
        postal_code:
          type: string
          description: Postal code
          example: '10243'
        region:
          type: string
          description: Region, county, province, etc.
          example: Bavaria
      example:
        city: Munich
        country_code: DE
        line1: 10 Downing Street
        line2: Flat 42
        postal_code: '10243'
        region: Bavaria
      required:
      - line1
      - postal_code
      - city
      - country_code
    FirstPartyServiceAdditionalValues:
      type: object
      properties:
        accessory_type:
          type: string
          description: if the first party service is an accessory, this value is the kind of the accessory
          example: experiment_charger
      description: Additional values for specific first party types.
      example:
        accessory_type: experiment_charger
    CompanyInfo:
      type: object
      properties:
        billing_address:
          $ref: '#/components/schemas/PostalAddress'
        name:
          type: string
          description: Name of the company
          example: Unicorn Corp
          minLength: 3
        tax_number:
          type: string
          description: Tax Identification Number
          example: '123456789'
        vat_number:
          type: string
          description: VAT registration number
          example: DE123456789
      description: Information about the customer company
      example:
        billing_address:
          city: Munich
          country_code: DE
          line1: 10 Downing Street
          line2: Flat 42
          postal_code: '10243'
          region: Bavaria
        name: Unicorn Corp
        tax_number: '123456789'
        vat_number: DE123456789
    OrderSummary:
      type: object
      properties:
        agent_name:
          type: string
          description: Agent owner of the order
          example: abc123
        company_name:
          type: string
          description: name of the customer company
          example: abc123
        created_at:
          type: string
          example: '1970-01-01T00:00:01Z'
          format: date-time
        full_name:
          type: string
          description: Full name of the customer
          example: abc123
        id:
          type: string
          description: topi order ID
          example: 739b63c2-9e58-4964-b38d-4ebb424de242
          format: regexp
          pattern: ^[0-9A-Za-z\-]+$
        offer_id:
          type: string
          description: Reference to the topi offer ID
          example: 739b63c2-9e58-4964-b38d-4ebb424de242
          format: regexp
          pattern: ^[0-9A-Za-z\-]+$
        seller_offer_reference:
          type: string
          description: Agent owner of the order
          example: abc123
        status:
          type: string
          example: confirmed
          enum:
          - created
          - confirmed
          - acknowledged
          - accepted
          - partially_fulfilled
          - completed
          - canceled
          - rejected
      description: Summary info about an order
      example:
        agent_name: abc123
        company_name: abc123
        created_at: '1970-01-01T00:00:01Z'
        full_name: abc123
        id: 739b63c2-9e58-4964-b38d-4ebb424de242
        offer_id: 739b63c2-9e58-4964-b38d-4ebb424de242
        seller_offer_reference: abc123
        status: confirmed
      required:
      - id
      - offer_id
      - created_at
      - agent_name
      - seller_offer_reference
      - status
      - company_name
      - full_name
    FirstPartyService:
      type: object
      properties:
        additional_values:
          $ref: '#/components/schemas/FirstPartyServiceAdditionalValues'
        id:
          type: string
          description: The internal Id for the first party service
          example: 739b63c2-9e58-4964-b38d-4ebb424de242
          format: regexp
          pattern: ^[0-9A-Za-z\-]+$
        monthly_price:
          $ref: '#/components/schemas/MoneyAmount'
        type:
          type: string
          example: topi_replace
          enum:
          - topi_repair
          - topi_replace
          - demo_first_party_service
          - topi_accessory
          - topi_data_deletion_certificate
          - topi_care_plus_synaxon
          - topi_care_plus_michaelag
      description: Info for first party service
      example:
        additional_values:
          accessory_type: experiment_charger
        id: 739b63c2-9e58-4964-b38d-4ebb424de242
        monthly_price:
          currency: EUR
          gross: 119000
          net: 100000
        type: topi_replace
      required:
      - id
      - type
      - monthly_price
    OrdersSummaryPaginated:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/OrderSummary'
          description: an array with the orders requested
          example:
          - agent_name: abc123
            company_name: abc123
            created_at: '1970-01-01T00:00:01Z'
            full_name: abc123
            id: 739b63c2-9e58-4964-b38d-4ebb424de242
            offer_id: 739b63c2-9e58-4964-b38d-4ebb424de242
            seller_offer_reference: abc123
            status: confirmed
        pagination:
          $ref: '#/components/schemas/PaginationMetadata'
      description: Orders list with pagination metadata
      example:
        orders:
        - agent_name: abc123
          company_name: abc123
          created_at: '1970-01-01T00:00:01Z'
          full_name: abc123
          id: 739b63c2-9e58-4964-b38d-4ebb424de242
          offer_id: 739b63c2-9e58-4964-b38d-4ebb424de242
          seller_offer_reference: abc123
          status: confirmed
        pagination:
          page: 1
          page_size: 1
          total_count: 1
          total_pages: 1
      required:
      - orders
      - pagination
  securitySchemes:
    OAuth2Seller_header_Authorization:
      type: oauth2
      description: 'Read our [Integration Guide](https://docs.topi.eu/docs/integration-guide/authentication) for detailed instructions on how to authenticate.

        '
      flows:
        clientCredentials:
          tokenUrl: https://identity.topi.eu/oauth2/token
          refreshUrl: https://identity.topi.eu/oauth2/token
          scopes:
            seller-branding:read: read seller branding config
            seller-catalog:edit: add product to catalog
            seller-catalog:read: view and search catalog
            seller-metrics:read: read metrics urls
            seller-offer:edit: edit offer details
            seller-offer:read: read offer details
            seller-order:edit: edit order details
            seller-order:read: read order details
            seller-scenario-simulations:run: run scenario simulations
            seller-shipment:edit: edit shipment details
            seller-shipping-method:edit: edit seller shipping method details
            seller-shipping-method:read: read seller shipping method details
            user-info:read: read user info
