openapi: 3.0.3
info:
  title: topi Seller API
  description: >
    # Localization


    Strings returned can be localized when the _Accept-Language_ header is
    provided in the request. It should follow the [RFC-2616
    convention](http://www.ietf.org/rfc/rfc2616.txt).
  version: 1.0.0
servers:
  - url: https://seller-api-sandbox.topi-sandbox.eu
  - url: https://seller-api.topi.eu
  - url: https://seller-api.topi-staging.eu
  - url: https://seller-api-sandbox.topi-sandbox-staging.eu
paths:
  /v1/catalog/basket/pricing:
    post:
      tags:
        - catalog
      summary: Calculate pricing for a whole basket
      description: >-
        ## <span style="color:#cc3333">*Deprecated*</span>


        Calculate pricing endpoint is being replaced by two other endpoints:

        - listRecommendedRentalPrices

        - cartRentalOverview


        Please make sure to migrate to one of the above endpoints based on your
        use case.



        ### Description


        calculate the price for a product
      operationId: catalog#calculateBasketPricing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculateBasketPricingRequestBody'
            example:
              pricing_requests:
                - base_rental_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                    tax_rate: 1900
                  identifier: abc123
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                    tax_rate: 1900
                  quantity: 1
                  seller_product_reference:
                    reference: 123ab-5343
                    source: sap
                  sublines:
                    - base_rental_price:
                        currency: EUR
                        gross: 119000
                        net: 100000
                        tax_rate: 1900
                      price:
                        currency: EUR
                        gross: 119000
                        net: 100000
                        tax_rate: 1900
                      seller_product_reference:
                        reference: 123ab-5343
                        source: sap
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculateBasketPricingResponseBody'
              example:
                basket_total_pay_now:
                  currency: EUR
                  gross: 119000
                  net: 100000
                  tax_rate: 1900
                basket_total_rent:
                  currency: EUR
                  gross: 119000
                  net: 100000
                  tax_rate: 1900
                summaries:
                  - available_contract_types:
                      - rent
                    default_tenure: 1
                    identifier: abc123
                    is_supported: true
                    pay_now:
                      amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                        tax_rate: 1900
                      id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    pay_now_excluding_sublines:
                      amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                        tax_rate: 1900
                      id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    rent:
                      - duration: 12
                        id: 739b63c2-9e58-4964-b38d-4ebb424de242
                        monthly_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                          tax_rate: 1900
                    rent_excluding_sublines:
                      - duration: 12
                        id: 739b63c2-9e58-4964-b38d-4ebb424de242
                        monthly_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                          tax_rate: 1900
                    sublines:
                      - available_contract_types:
                          - rent
                        default_tenure: 1
                        identifier: abc123
                        is_supported: true
                        pay_now:
                          amount:
                            currency: EUR
                            gross: 119000
                            net: 100000
                            tax_rate: 1900
                          id: 739b63c2-9e58-4964-b38d-4ebb424de242
                        rent:
                          - duration: 12
                            id: 739b63c2-9e58-4964-b38d-4ebb424de242
                            monthly_amount:
                              currency: EUR
                              gross: 119000
                              net: 100000
                              tax_rate: 1900
                        summary: Rent with topi for €24.32/month
                        total_pay_now:
                          amount:
                            currency: EUR
                            gross: 119000
                            net: 100000
                            tax_rate: 1900
                          id: 739b63c2-9e58-4964-b38d-4ebb424de242
                        total_rent:
                          - duration: 12
                            id: 739b63c2-9e58-4964-b38d-4ebb424de242
                            monthly_amount:
                              currency: EUR
                              gross: 119000
                              net: 100000
                              tax_rate: 1900
                    summary: Rent with topi for €24.32/month
                    total_pay_now:
                      amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                        tax_rate: 1900
                      id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    total_rent:
                      - duration: 12
                        id: 739b63c2-9e58-4964-b38d-4ebb424de242
                        monthly_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                          tax_rate: 1900
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: 'Unprocessable: Unprocessable Entity response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - OAuth2Seller_header_Authorization:
            - seller-catalog:read
      x-code-samples:
        - lang: curl
          label: cURL
          source: |
            curl -X POST https://seller-api.topi.eu/v1/catalog/basket/pricing \
              -H "Authorization: Bearer $ACCESS_TOKEN" \
              -H "Content-Type: application/json" \
              -d '{
              "pricing_requests": [
                {
                  "base_rental_price": {
                    "currency": "EUR",
                    "gross": 119000,
                    "net": 100000,
                    "tax_rate": 1900
                  },
                  "identifier": "abc123",
                  "price": {
                    "currency": "EUR",
                    "gross": 119000,
                    "net": 100000,
                    "tax_rate": 1900
                  },
                  "quantity": 1,
                  "seller_product_reference": {
                    "reference": "123ab-5343",
                    "source": "sap"
                  },
                  "sublines": [
                    {
                      "base_rental_price": {
                        "currency": "EUR",
                        "gross": 119000,
                        "net": 100000,
                        "tax_rate": 1900
                      },
                      "price": {
                        "currency": "EUR",
                        "gross": 119000,
                        "net": 100000,
                        "tax_rate": 1900
                      },
                      "seller_product_reference": {
                        "reference": "123ab-5343",
                        "source": "sap"
                      }
                    }
                  ]
                }
              ]
            }'
        - lang: javascript
          label: JavaScript (fetch)
          source: >
            const response = await
            fetch('https://seller-api.topi.eu/v1/catalog/basket/pricing', {
              method: 'POST',
              headers: {
                'Authorization': `Bearer ${ACCESS_TOKEN}`,
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
              "pricing_requests": [
                {
                  "base_rental_price": {
                    "currency": "EUR",
                    "gross": 119000,
                    "net": 100000,
                    "tax_rate": 1900
                  },
                  "identifier": "abc123",
                  "price": {
                    "currency": "EUR",
                    "gross": 119000,
                    "net": 100000,
                    "tax_rate": 1900
                  },
                  "quantity": 1,
                  "seller_product_reference": {
                    "reference": "123ab-5343",
                    "source": "sap"
                  },
                  "sublines": [
                    {
                      "base_rental_price": {
                        "currency": "EUR",
                        "gross": 119000,
                        "net": 100000,
                        "tax_rate": 1900
                      },
                      "price": {
                        "currency": "EUR",
                        "gross": 119000,
                        "net": 100000,
                        "tax_rate": 1900
                      },
                      "seller_product_reference": {
                        "reference": "123ab-5343",
                        "source": "sap"
                      }
                    }
                  ]
                }
              ]
            })

            });


            const data = await response.json();

            console.log(data);
  /v1/catalog/carts/rental-overview:
    post:
      tags:
        - catalog
      summary: Get rental overview for products
      operationId: catalog#cartRentalOverview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartRentalOverviewRequestBody'
            example:
              products:
                - base_rental_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                    tax_rate: 1900
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                    tax_rate: 1900
                  quantity: 1
                  seller_product_reference:
                    reference: 123ab-5343
                    source: sap
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartRentalOverviewResult'
              example:
                can_checkout: false
                currency: EUR
                product_prices:
                  - available_rental_terms:
                      - duration: 12
                        id: 739b63c2-9e58-4964-b38d-4ebb424de242
                        monthly_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                          tax_rate: 1900
                    can_checkout: false
                    currency: EUR
                    has_rental_terms: false
                    quantity: 1
                    seller_product_reference:
                      reference: 123ab-5343
                      source: sap
                    summary: Rent with topi from €23.45/month
                    total_rental_amount: 1
                total_rental_amount: 1
                total_rental_summary: Rent with topi from €123.45/month
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
      security:
        - OAuth2Seller_header_Authorization:
            - seller-catalog:read
      x-code-samples:
        - lang: curl
          label: cURL
          source: >
            curl -X POST
            https://seller-api.topi.eu/v1/catalog/carts/rental-overview \
              -H "Authorization: Bearer $ACCESS_TOKEN" \
              -H "Content-Type: application/json" \
              -d '{
              "products": [
                {
                  "base_rental_price": {
                    "currency": "EUR",
                    "gross": 119000,
                    "net": 100000,
                    "tax_rate": 1900
                  },
                  "price": {
                    "currency": "EUR",
                    "gross": 119000,
                    "net": 100000,
                    "tax_rate": 1900
                  },
                  "quantity": 1,
                  "seller_product_reference": {
                    "reference": "123ab-5343",
                    "source": "sap"
                  }
                }
              ]
            }'
        - lang: javascript
          label: JavaScript (fetch)
          source: >
            const response = await
            fetch('https://seller-api.topi.eu/v1/catalog/carts/rental-overview',
            {
              method: 'POST',
              headers: {
                'Authorization': `Bearer ${ACCESS_TOKEN}`,
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
              "products": [
                {
                  "base_rental_price": {
                    "currency": "EUR",
                    "gross": 119000,
                    "net": 100000,
                    "tax_rate": 1900
                  },
                  "price": {
                    "currency": "EUR",
                    "gross": 119000,
                    "net": 100000,
                    "tax_rate": 1900
                  },
                  "quantity": 1,
                  "seller_product_reference": {
                    "reference": "123ab-5343",
                    "source": "sap"
                  }
                }
              ]
            })

            });


            const data = await response.json();

            console.log(data);
  /v1/catalog/check-supported:
    post:
      tags:
        - catalog
      summary: Check if products are supported
      description: >
        Checks whether the products with the given references are supported or
        not.


        ### When using in the Sandbox


        Returns the requested products with their available contract terms,
        depending on the combination of the supplied Source and Reference
        values:


        - To get a product with `PayNow` contract terms : The supplied `source`
        should be `SAP` with `reference` specified as `1234-5678`.

        - To get a product with `Rent` contract terms : There are two ways to
        get this value either when the supplied `source` is `SAP` and the
        `reference` is `1111-1111` or with `source` set to `B6` and `reference`
        specified as `2222-2222`.

        - To get a product that is not topi supported: Specify the `source` as
        `SAP` and `reference` should be `8765-4321`.


        In other cases this method will return an empty array.


        This method has been defined as POST because the size of the input
        values could grow fast.
      operationId: catalog#checkSupported
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckSupportedRequestBody'
            example:
              seller_product_references:
                - reference: 123ab-5343
                  source: sap
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsSummary'
              example:
                products:
                  - available_contract_terms:
                      can_pay_now: false
                      can_rent: false
                      rent:
                        duration: 1
                    id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    is_supported: false
                    seller_product_reference:
                      reference: 123ab-5343
                      source: sap
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
      security:
        - OAuth2Seller_header_Authorization:
            - seller-catalog:read
      x-code-samples:
        - lang: curl
          label: cURL
          source: |
            curl -X POST https://seller-api.topi.eu/v1/catalog/check-supported \
              -H "Authorization: Bearer $ACCESS_TOKEN" \
              -H "Content-Type: application/json" \
              -d '{
              "seller_product_references": [
                {
                  "reference": "123ab-5343",
                  "source": "sap"
                }
              ]
            }'
        - lang: javascript
          label: JavaScript (fetch)
          source: >
            const response = await
            fetch('https://seller-api.topi.eu/v1/catalog/check-supported', {
              method: 'POST',
              headers: {
                'Authorization': `Bearer ${ACCESS_TOKEN}`,
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
              "seller_product_references": [
                {
                  "reference": "123ab-5343",
                  "source": "sap"
                }
              ]
            })

            });


            const data = await response.json();

            console.log(data);
  /v1/catalog/import:
    post:
      tags:
        - catalog
      summary: Import products into the catalog
      description: >
        Add a batch of products to the catalog.


        ### When using in the Sandbox


        Use the following scenarios to get different fixtures:


        - Status `"completed"`: `Send a catalog with less than 10 products`

        - Status `"created"`: `Send a catalog with 10 products or more`

        - Status `"failed"`: `Send a product inside the catalog with the
        "source" or the "reference" in the "seller_product_reference" as empty
        string`
      operationId: catalog#importCatalog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportCatalogRequestBody'
            example:
              products:
                - base_rental_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  description: aaa
                  extra_details:
                    - property: memory
                      value: 16GB DDR5
                  image:
                    url: https://example.com/foo
                  is_active: false
                  manufacturer: abc123
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                    tax_rate: 1900
                  product_standard_identifiers:
                    - id: 123ab-4567
                      identifier_type: EAN
                  seller_categories:
                    - id: abc123
                      name: abc123
                      parent_category_id: abc123
                  seller_product_references:
                    - reference: 123ab-5343
                      source: sap
                    - reference: 123ab-5343
                      source: sap
                  seller_product_type: software
                  shop_product_description_url: https://example.com/foo
                  subtitle: abc123
                  title: abc123
                - base_rental_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  description: aaa
                  extra_details:
                    - property: memory
                      value: 16GB DDR5
                  image:
                    url: https://example.com/foo
                  is_active: false
                  manufacturer: abc123
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                    tax_rate: 1900
                  product_standard_identifiers:
                    - id: 123ab-4567
                      identifier_type: EAN
                  seller_categories:
                    - id: abc123
                      name: abc123
                      parent_category_id: abc123
                  seller_product_references:
                    - reference: 123ab-5343
                      source: sap
                    - reference: 123ab-5343
                      source: sap
                  seller_product_type: software
                  shop_product_description_url: https://example.com/foo
                  subtitle: abc123
                  title: abc123
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportResult'
              example:
                id: 739b63c2-9e58-4964-b38d-4ebb424de242
                status: started
                summary:
                  sample_products_rejected:
                    - error_code: unsupported_product
                      error_description: the product type is not supported
                      seller_product_reference:
                        reference: 123ab-5343
                        source: sap
                  total_products: 1
                  total_products_imported: 1
                  total_products_rejected: 1
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '413':
          description: 'TooManyProducts: Request Entity Too Large response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: 'Unprocessable: Unprocessable Entity response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - OAuth2Seller_header_Authorization:
            - seller-catalog:edit
      x-code-samples:
        - lang: curl
          label: cURL
          source: |
            curl -X POST https://seller-api.topi.eu/v1/catalog/import \
              -H "Authorization: Bearer $ACCESS_TOKEN" \
              -H "Content-Type: application/json" \
              -d '{
              "products": [
                {
                  "base_rental_price": {
                    "currency": "EUR",
                    "gross": 119000,
                    "net": 100000
                  },
                  "description": "aaa",
                  "extra_details": [
                    {
                      "property": "memory",
                      "value": "16GB DDR5"
                    }
                  ],
                  "image": {
                    "url": "https://example.com/foo"
                  },
                  "is_active": false,
                  "manufacturer": "abc123",
                  "price": {
                    "currency": "EUR",
                    "gross": 119000,
                    "net": 100000,
                    "tax_rate": 1900
                  },
                  "product_standard_identifiers": [
                    {
                      "id": "123ab-4567",
                      "identifier_type": "EAN"
                    }
                  ],
                  "seller_categories": [
                    {
                      "id": "abc123",
                      "name": "abc123",
                      "parent_category_id": "abc123"
                    }
                  ],
                  "seller_product_references": [
                    {
                      "reference": "123ab-5343",
                      "source": "sap"
                    },
                    {
                      "reference": "123ab-5343",
                      "source": "sap"
                    }
                  ],
                  "seller_product_type": "software",
                  "shop_product_description_url": "https://example.com/foo",
                  "subtitle": "abc123",
                  "title": "abc123"
                },
                {
                  "base_rental_price": {
                    "currency": "EUR",
                    "gross": 119000,
                    "net": 100000
                  },
                  "description": "aaa",
                  "extra_details": [
                    {
                      "property": "memory",
                      "value": "16GB DDR5"
                    }
                  ],
                  "image": {
                    "url": "https://example.com/foo"
                  },
                  "is_active": false,
                  "manufacturer": "abc123",
                  "price": {
                    "currency": "EUR",
                    "gross": 119000,
                    "net": 100000,
                    "tax_rate": 1900
                  },
                  "product_standard_identifiers": [
                    {
                      "id": "123ab-4567",
                      "identifier_type": "EAN"
                    }
                  ],
                  "seller_categories": [
                    {
                      "id": "abc123",
                      "name": "abc123",
                      "parent_category_id": "abc123"
                    }
                  ],
                  "seller_product_references": [
                    {
                      "reference": "123ab-5343",
                      "source": "sap"
                    },
                    {
                      "reference": "123ab-5343",
                      "source": "sap"
                    }
                  ],
                  "seller_product_type": "software",
                  "shop_product_description_url": "https://example.com/foo",
                  "subtitle": "abc123",
                  "title": "abc123"
                }
              ]
            }'
        - lang: javascript
          label: JavaScript (fetch)
          source: >
            const response = await
            fetch('https://seller-api.topi.eu/v1/catalog/import', {
              method: 'POST',
              headers: {
                'Authorization': `Bearer ${ACCESS_TOKEN}`,
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
              "products": [
                {
                  "base_rental_price": {
                    "currency": "EUR",
                    "gross": 119000,
                    "net": 100000
                  },
                  "description": "aaa",
                  "extra_details": [
                    {
                      "property": "memory",
                      "value": "16GB DDR5"
                    }
                  ],
                  "image": {
                    "url": "https://example.com/foo"
                  },
                  "is_active": false,
                  "manufacturer": "abc123",
                  "price": {
                    "currency": "EUR",
                    "gross": 119000,
                    "net": 100000,
                    "tax_rate": 1900
                  },
                  "product_standard_identifiers": [
                    {
                      "id": "123ab-4567",
                      "identifier_type": "EAN"
                    }
                  ],
                  "seller_categories": [
                    {
                      "id": "abc123",
                      "name": "abc123",
                      "parent_category_id": "abc123"
                    }
                  ],
                  "seller_product_references": [
                    {
                      "reference": "123ab-5343",
                      "source": "sap"
                    },
                    {
                      "reference": "123ab-5343",
                      "source": "sap"
                    }
                  ],
                  "seller_product_type": "software",
                  "shop_product_description_url": "https://example.com/foo",
                  "subtitle": "abc123",
                  "title": "abc123"
                },
                {
                  "base_rental_price": {
                    "currency": "EUR",
                    "gross": 119000,
                    "net": 100000
                  },
                  "description": "aaa",
                  "extra_details": [
                    {
                      "property": "memory",
                      "value": "16GB DDR5"
                    }
                  ],
                  "image": {
                    "url": "https://example.com/foo"
                  },
                  "is_active": false,
                  "manufacturer": "abc123",
                  "price": {
                    "currency": "EUR",
                    "gross": 119000,
                    "net": 100000,
                    "tax_rate": 1900
                  },
                  "product_standard_identifiers": [
                    {
                      "id": "123ab-4567",
                      "identifier_type": "EAN"
                    }
                  ],
                  "seller_categories": [
                    {
                      "id": "abc123",
                      "name": "abc123",
                      "parent_category_id": "abc123"
                    }
                  ],
                  "seller_product_references": [
                    {
                      "reference": "123ab-5343",
                      "source": "sap"
                    },
                    {
                      "reference": "123ab-5343",
                      "source": "sap"
                    }
                  ],
                  "seller_product_type": "software",
                  "shop_product_description_url": "https://example.com/foo",
                  "subtitle": "abc123",
                  "title": "abc123"
                }
              ]
            })

            });


            const data = await response.json();

            console.log(data);
  /v1/catalog/imports:
    post:
      tags:
        - catalog
      summary: Create a CSV import job
      description: >
        Creates a new CSV import job and returns the created import id and a
        pre-signed upload URL.


        ## Upload flow


        1. Call `POST /imports` with the `filename` of your CSV file. The
        response contains the import
           `id` and an `upload_url` — a temporary link to upload the file to.
        2. Upload the file with an HTTP `PUT` request to `upload_url`. The
        request must include two
           headers: `Content-Type: text/csv` and `x-goog-content-length-range: 0,262144000`. Uploads
           without them are rejected. The file may be at most **250 MB**.
        3. The file is then checked and processed in the background. Call `GET
        /imports/{id}` to follow
           progress. When some rows could not be imported, the response links to a downloadable CSV
           listing each failed row and the reason. If the file fails the initial check (for example a
           required column is missing), the import status becomes `failed` and the `error` field
           explains why.

        A seller can have at most **5 imports running** at the same time.
        Starting a sixth returns a

        `TooManyRequests` error — wait for an earlier import to finish and try
        again.


        ## CSV format


        The first line of the file must be a header row with column names.
        Column names are not

        case-sensitive and surrounding spaces are ignored; any column not listed
        below is simply skipped.


        Re-uploading a product you imported before (same `reference`) updates
        that product instead of

        creating a duplicate. Leaving an optional cell empty on re-import keeps
        the product's existing

        value for that field.


        ### Required columns


        The import is rejected if any of these are missing from the header.


        | Column | Description | Format |

        |---|---|---|

        | `title` | Product name shown to customers | Non-empty text |

        | `reference` | Your product identifier(s) | One or more values joined
        by `\|`; count must match `reference_source` |

        | `reference_source` | Source/type of each reference (e.g. `sku`, `ean`)
        | `\|`-separated, same count as `reference` |

        | `is_active` | Whether the product is sellable | `true`/`false`,
        `1`/`0`, `yes`/`no`, `y`/`n` (case-insensitive) |

        | `price_gross` | Sale price incl. VAT | Number > 0, must be >=
        `price_net` |

        | `price_net` | Sale price excl. VAT | Number > 0 |


        ### Optional columns


        | Column | Description | Format |

        |---|---|---|

        | `currency` | Currency code, e.g. `EUR` | Defaults to the seller
        currency if blank |

        | `manufacturer` | Brand / maker | Text |

        | `subtitle` | Short tagline under the title | Text |

        | `description` | Long product description | Text, max 2000 characters |

        | `base_rental_price_gross` | Monthly rental price incl. VAT | Number >
        0, must be >= net if both set |

        | `base_rental_price_net` | Monthly rental price excl. VAT | Number > 0
        |

        | `ean` | EAN barcode | Text |

        | `mpn` | Manufacturer part number | Text |

        | `image_url` | Product image | Valid URL |

        | `seller_category_id` | Your category ID | Text |

        | `seller_category_name` | Your category name | Text |

        | `seller_category_parent_id` | Parent category ID | Text |

        | `seller_product_type` | Product type | One of `hardware`, `software`,
        `service`, `hardware_built_to_order`, or blank |

        | `shop_product_description_url` | Link to the product page on your shop
        | Valid URL |

        | `extra_details` | Custom key/value attributes | `key=value` pairs
        joined by `\|` |


        ### Prices


        - Prices are written in whole currency units, not cents: `2499.00` means
        2,499 euros.

        - `price_gross` (with VAT) must be greater than or equal to `price_net`
        (without VAT).

        - Both decimal styles are accepted: a point (`1999.99`) or a comma
        (`1999,99`) before the
          decimals. Thousands separators are also fine in either style: `1,234.56` and `1.234,56` both
          mean one thousand two hundred thirty-four euros and 56 cents.
        - One shape cannot be told apart: a value like `1,234` could mean
        `1.234` or `1234`, so that
          row is rejected with an error. To avoid this, always write the cents explicitly — `1234.00`
          (or `1.234,00`) for one thousand two hundred thirty-four euros, `1.23` (or `1,23`) for one
          euro and 23 cents.

        ### Notes


        - **Multiple references**: a product can carry several identifiers —
        pipe-separate them in
          `reference` (e.g. `MBP14-001|0719726100000`) with matching kinds in `reference_source`
          (e.g. `sku|ean`). The two columns must have an equal number of `|`-separated values.
        - **Duplicate references** within the same file are rejected per row;
        the rest of the file still
          imports.
        - A row that fails validation does not stop the import: valid rows still
        import, and every
          failed row is listed with its reason in the downloadable error CSV.

        ### Example


        ```csv

        title,reference,reference_source,is_active,price_gross,price_net,currency,manufacturer,seller_product_type,extra_details

        Apple MacBook Pro
        14,MBP14-001,sku,true,2499.00,2099.16,EUR,Apple,hardware,color=Space
        Black|warranty=24 months

        Dell UltraSharp
        Monitor,DELL-U2724|0719726100000,sku|ean,1,649.00,545.38,EUR,Dell,hardware,resolution=3840x2160|panel=IPS

        ```
      operationId: catalog#createImport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImportRequestBody'
            example:
              filename: abc123
      responses:
        '201':
          description: Created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateImportResult'
              example:
                id: 739b63c2-9e58-4964-b38d-4ebb424de242
                upload_url: https://example.com/foo
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - OAuth2Seller_header_Authorization:
            - seller-catalog:edit
      x-code-samples:
        - lang: curl
          label: cURL
          source: |
            curl -X POST https://seller-api.topi.eu/v1/catalog/imports \
              -H "Authorization: Bearer $ACCESS_TOKEN" \
              -H "Content-Type: application/json" \
              -d '{
              "filename": "abc123"
            }'
        - lang: javascript
          label: JavaScript (fetch)
          source: >
            const response = await
            fetch('https://seller-api.topi.eu/v1/catalog/imports', {
              method: 'POST',
              headers: {
                'Authorization': `Bearer ${ACCESS_TOKEN}`,
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
              "filename": "abc123"
            })

            });


            const data = await response.json();

            console.log(data);
  /v1/catalog/imports/{id}:
    delete:
      tags:
        - catalog
      summary: Cancel a CSV import job
      description: >+
        Cancels a CSV import job.


        Only imports in `pending`, `queued`, and `running`  status can be
        cancelled. Cancelling a completed or already-cancelled import returns an
        error.

      operationId: catalog#cancelImport
      parameters:
        - name: id
          in: path
          description: The import job ID to cancel.
          required: true
          schema:
            type: string
            description: The import job ID to cancel.
            example: 550e8400-e29b-41d4-a716-446655440000
            format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: OK response.
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: 'Unprocessable: Unprocessable Entity response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - OAuth2Seller_header_Authorization:
            - seller-catalog:edit
      x-code-samples:
        - lang: curl
          label: cURL
          source: |
            curl -X DELETE https://seller-api.topi.eu/v1/catalog/imports/{id} \
              -H "Authorization: Bearer $ACCESS_TOKEN"
        - lang: javascript
          label: JavaScript (fetch)
          source: >
            const response = await
            fetch('https://seller-api.topi.eu/v1/catalog/imports/{id}', {
              method: 'DELETE',
              headers: {
                'Authorization': `Bearer ${ACCESS_TOKEN}`
              }
            });


            const data = await response.json();

            console.log(data);
    get:
      tags:
        - catalog
      summary: Get CSV import job details
      description: >
        Retrieves the details of a CSV import job.


        ## Failure reporting


        There are two distinct failure surfaces:


        - **`error`** — set when the import fails before any rows are processed,
        e.g. a required
          column is missing from the header, the uploaded file is not a valid CSV, or the upload
          has the wrong content type. The job status is `failed`, the row counters stay at 0, and
          no error CSV is produced. Fix the file and create a new import.
        - **`failed` / `errors_url`** — row-level failures during processing.
        The import keeps
          going; rows that failed are counted in `failed` and detailed in the downloadable CSV at
          `errors_url`. The `error` field stays empty in this case.
      operationId: catalog#getImport
      parameters:
        - name: id
          in: path
          description: The import job ID.
          required: true
          schema:
            type: string
            description: The import job ID.
            example: 550e8400-e29b-41d4-a716-446655440000
            format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogImportJob'
              example:
                categorization:
                  done: false
                  pending: 1
                  supported: 1
                  to_be_reviewed: 1
                  total: 1
                  unsupported: 1
                created_at: '1970-01-01T00:00:01Z'
                error: abc123
                errors_url: https://example.com/foo
                failed: 1
                filename: abc123
                id: 739b63c2-9e58-4964-b38d-4ebb424de242
                object_path: https://example.com/foo
                processed: 1
                status: queued
                succeeded: 1
                updated_at: '1970-01-01T00:00:01Z'
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - OAuth2Seller_header_Authorization:
            - seller-catalog:edit
      x-code-samples:
        - lang: curl
          label: cURL
          source: |
            curl -X GET https://seller-api.topi.eu/v1/catalog/imports/{id} \
              -H "Authorization: Bearer $ACCESS_TOKEN"
        - lang: javascript
          label: JavaScript (fetch)
          source: >
            const response = await
            fetch('https://seller-api.topi.eu/v1/catalog/imports/{id}', {
              method: 'GET',
              headers: {
                'Authorization': `Bearer ${ACCESS_TOKEN}`
              }
            });


            const data = await response.json();

            console.log(data);
  /v1/catalog/list-recommended-rental-prices:
    post:
      tags:
        - catalog
      summary: List recommended rental prices for products
      description: >-
        Given a list of products, retrieve information about the recommended
        monthly rental price and term, if applicable, for each of the requested
        products.
      operationId: catalog#listRecommendedRentalPrices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListRecommendedRentalPricesRequestBody'
            example:
              pricing_requests:
                - base_rental_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                    tax_rate: 1900
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                    tax_rate: 1900
                  seller_product_reference:
                    reference: 123ab-5343
                    source: sap
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductRentalPricingDetails'
                example:
                  - currency: EUR
                    has_rental_terms: false
                    monthly_rental_amount: 100000
                    monthly_rental_terms:
                      duration: 12
                      id: 739b63c2-9e58-4964-b38d-4ebb424de242
                      monthly_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                        tax_rate: 1900
                    seller_product_reference:
                      reference: 123ab-5343
                      source: sap
                    summary: Rent with topi from €23.45/month
              example:
                - currency: EUR
                  has_rental_terms: false
                  monthly_rental_amount: 100000
                  monthly_rental_terms:
                    duration: 12
                    id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    monthly_amount:
                      currency: EUR
                      gross: 119000
                      net: 100000
                      tax_rate: 1900
                  seller_product_reference:
                    reference: 123ab-5343
                    source: sap
                  summary: Rent with topi from €23.45/month
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
      security:
        - OAuth2Seller_header_Authorization:
            - seller-catalog:read
      x-code-samples:
        - lang: curl
          label: cURL
          source: >
            curl -X POST
            https://seller-api.topi.eu/v1/catalog/list-recommended-rental-prices
            \
              -H "Authorization: Bearer $ACCESS_TOKEN" \
              -H "Content-Type: application/json" \
              -d '{
              "pricing_requests": [
                {
                  "base_rental_price": {
                    "currency": "EUR",
                    "gross": 119000,
                    "net": 100000,
                    "tax_rate": 1900
                  },
                  "price": {
                    "currency": "EUR",
                    "gross": 119000,
                    "net": 100000,
                    "tax_rate": 1900
                  },
                  "seller_product_reference": {
                    "reference": "123ab-5343",
                    "source": "sap"
                  }
                }
              ]
            }'
        - lang: javascript
          label: JavaScript (fetch)
          source: >
            const response = await
            fetch('https://seller-api.topi.eu/v1/catalog/list-recommended-rental-prices',
            {
              method: 'POST',
              headers: {
                'Authorization': `Bearer ${ACCESS_TOKEN}`,
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
              "pricing_requests": [
                {
                  "base_rental_price": {
                    "currency": "EUR",
                    "gross": 119000,
                    "net": 100000,
                    "tax_rate": 1900
                  },
                  "price": {
                    "currency": "EUR",
                    "gross": 119000,
                    "net": 100000,
                    "tax_rate": 1900
                  },
                  "seller_product_reference": {
                    "reference": "123ab-5343",
                    "source": "sap"
                  }
                }
              ]
            })

            });


            const data = await response.json();

            console.log(data);
  /v1/catalog/pricing:
    post:
      tags:
        - catalog
      summary: Calculate pricing for a single product
      description: >-
        ## <span style="color:#cc3333">*Deprecated*</span>


        Calculate pricing endpoint is being replaced by two other endpoints:

        - listRecommendedRentalPrices

        - cartRentalOverview


        Please make sure to migrate to one of the above endpoints based on your
        use case.



        ### Description


        calculate the price for a product
      operationId: catalog#calculatePricing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculatePricingRequestBody'
            example:
              pricing_request:
                base_rental_price:
                  currency: EUR
                  gross: 119000
                  net: 100000
                  tax_rate: 1900
                price:
                  currency: EUR
                  gross: 119000
                  net: 100000
                  tax_rate: 1900
                seller_product_reference:
                  reference: 123ab-5343
                  source: sap
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculatePriceSummary'
              example:
                available_contract_types:
                  - rent
                is_supported: true
                pay_now:
                  amount:
                    currency: EUR
                    gross: 119000
                    net: 100000
                    tax_rate: 1900
                  id: 739b63c2-9e58-4964-b38d-4ebb424de242
                rent:
                  - duration: 12
                    id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    monthly_amount:
                      currency: EUR
                      gross: 119000
                      net: 100000
                      tax_rate: 1900
                sublines:
                  - available_contract_types:
                      - rent
                    is_supported: true
                    pay_now:
                      amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                        tax_rate: 1900
                      id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    rent:
                      - duration: 12
                        id: 739b63c2-9e58-4964-b38d-4ebb424de242
                        monthly_amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                          tax_rate: 1900
                    summary: Rent with topi for €24.32/month
                summary: Rent with topi for €24.32/month
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: 'Unprocessable: Unprocessable Entity response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - OAuth2Seller_header_Authorization:
            - seller-catalog:read
      x-code-samples:
        - lang: curl
          label: cURL
          source: |
            curl -X POST https://seller-api.topi.eu/v1/catalog/pricing \
              -H "Authorization: Bearer $ACCESS_TOKEN" \
              -H "Content-Type: application/json" \
              -d '{
              "pricing_request": {
                "base_rental_price": {
                  "currency": "EUR",
                  "gross": 119000,
                  "net": 100000,
                  "tax_rate": 1900
                },
                "price": {
                  "currency": "EUR",
                  "gross": 119000,
                  "net": 100000,
                  "tax_rate": 1900
                },
                "seller_product_reference": {
                  "reference": "123ab-5343",
                  "source": "sap"
                }
              }
            }'
        - lang: javascript
          label: JavaScript (fetch)
          source: >
            const response = await
            fetch('https://seller-api.topi.eu/v1/catalog/pricing', {
              method: 'POST',
              headers: {
                'Authorization': `Bearer ${ACCESS_TOKEN}`,
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
              "pricing_request": {
                "base_rental_price": {
                  "currency": "EUR",
                  "gross": 119000,
                  "net": 100000,
                  "tax_rate": 1900
                },
                "price": {
                  "currency": "EUR",
                  "gross": 119000,
                  "net": 100000,
                  "tax_rate": 1900
                },
                "seller_product_reference": {
                  "reference": "123ab-5343",
                  "source": "sap"
                }
              }
            })

            });


            const data = await response.json();

            console.log(data);
  /v1/catalog/products:
    get:
      tags:
        - catalog
      summary: Search products by term
      description: get products that match a search term
      operationId: catalog#searchProducts
      parameters:
        - name: term
          in: query
          description: The Seller Product Reference
          allowEmptyValue: true
          schema:
            type: string
            description: The Seller Product Reference
            example: abc123
          example: abc123
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchProductResult'
                example:
                  - archived: false
                    available_contract_terms:
                      can_pay_now: false
                      can_rent: false
                      rent:
                        duration: 1
                    base_rental_price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    description: abc123
                    ean: abc123
                    list_price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    manufacturer: abc123
                    mpn: abc123
                    origin: abc123
                    pretty_id: abc123
                    pricing_category: abc123
                    product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    reference: abc123
                    seller_product_references:
                      - reference: 123ab-5343
                        source: sap
                    subtitle: abc123
                    title: abc123
              example:
                - archived: false
                  available_contract_terms:
                    can_pay_now: false
                    can_rent: false
                    rent:
                      duration: 1
                  base_rental_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  description: abc123
                  ean: abc123
                  list_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  manufacturer: abc123
                  mpn: abc123
                  origin: abc123
                  pretty_id: abc123
                  pricing_category: abc123
                  product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  reference: abc123
                  seller_product_references:
                    - reference: 123ab-5343
                      source: sap
                  subtitle: abc123
                  title: abc123
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: 'Unprocessable: Unprocessable Entity response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - OAuth2Seller_header_Authorization:
            - seller-catalog:read
      x-code-samples:
        - lang: curl
          label: cURL
          source: |
            curl -X GET https://seller-api.topi.eu/v1/catalog/products \
              -H "Authorization: Bearer $ACCESS_TOKEN"
        - lang: javascript
          label: JavaScript (fetch)
          source: >
            const response = await
            fetch('https://seller-api.topi.eu/v1/catalog/products', {
              method: 'GET',
              headers: {
                'Authorization': `Bearer ${ACCESS_TOKEN}`
              }
            });


            const data = await response.json();

            console.log(data);
  /v1/catalog/products_paginated:
    get:
      tags:
        - catalog
      summary: >-
        Paginated product search by term, note: this method will not support any
        filtering, please refer to the POST endpoint for filtering.
      description: >-
        get paginated products that match a search term, note: this method will
        not support any filtering.
      operationId: catalog#searchProductsPaginated
      parameters:
        - name: term
          in: query
          description: The Seller Product Reference
          allowEmptyValue: true
          schema:
            type: string
            description: The Seller Product Reference
            example: abc123
          example: abc123
        - name: limit
          in: query
          description: the size of the page
          allowEmptyValue: true
          schema:
            type: integer
            description: the size of the page
            example: 1
            format: int64
          example: 1
        - name: page
          in: query
          description: the index of the page
          allowEmptyValue: true
          schema:
            type: integer
            description: the index of the page
            example: 1
            format: int64
          example: 1
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPaginationResult'
              example:
                limit: 1
                page: 1
                rows:
                  - archived: false
                    available_contract_terms:
                      can_pay_now: false
                      can_rent: false
                      rent:
                        duration: 1
                    base_rental_price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    description: abc123
                    ean: abc123
                    list_price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    manufacturer: abc123
                    mpn: abc123
                    origin: abc123
                    pretty_id: abc123
                    pricing_category: abc123
                    product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    reference: abc123
                    seller_product_references:
                      - reference: 123ab-5343
                        source: sap
                    subtitle: abc123
                    title: abc123
                totalPages: 1
                totalRows: 1
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: 'Unprocessable: Unprocessable Entity response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - OAuth2Seller_header_Authorization:
            - seller-catalog:read
      x-code-samples:
        - lang: curl
          label: cURL
          source: >
            curl -X GET https://seller-api.topi.eu/v1/catalog/products_paginated
            \
              -H "Authorization: Bearer $ACCESS_TOKEN"
        - lang: javascript
          label: JavaScript (fetch)
          source: >
            const response = await
            fetch('https://seller-api.topi.eu/v1/catalog/products_paginated', {
              method: 'GET',
              headers: {
                'Authorization': `Bearer ${ACCESS_TOKEN}`
              }
            });


            const data = await response.json();

            console.log(data);
    post:
      tags:
        - catalog
      summary: Paginated product search by term, filtering by provided options
      description: get paginated products that match a search term and the provided filters
      operationId: catalog#searchAndFilterProductsPaginated
      parameters:
        - name: term
          in: query
          description: The Seller Product Reference
          allowEmptyValue: true
          schema:
            type: string
            description: The Seller Product Reference
            example: abc123
          example: abc123
        - name: limit
          in: query
          description: the size of the page
          allowEmptyValue: true
          schema:
            type: integer
            description: the size of the page
            example: 1
            format: int64
          example: 1
        - name: page
          in: query
          description: the index of the page
          allowEmptyValue: true
          schema:
            type: integer
            description: the index of the page
            example: 1
            format: int64
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchAndFilterProductsPaginatedRequestBody'
            example:
              filtering_logic: OR
              filtering_options:
                - operation: '>'
                  property: abc123
                  value: abc123
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPaginationResult'
              example:
                limit: 1
                page: 1
                rows:
                  - archived: false
                    available_contract_terms:
                      can_pay_now: false
                      can_rent: false
                      rent:
                        duration: 1
                    base_rental_price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    description: abc123
                    ean: abc123
                    list_price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    manufacturer: abc123
                    mpn: abc123
                    origin: abc123
                    pretty_id: abc123
                    pricing_category: abc123
                    product_id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    reference: abc123
                    seller_product_references:
                      - reference: 123ab-5343
                        source: sap
                    subtitle: abc123
                    title: abc123
                totalPages: 1
                totalRows: 1
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: 'Unprocessable: Unprocessable Entity response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - OAuth2Seller_header_Authorization:
            - seller-catalog:read
      x-code-samples:
        - lang: curl
          label: cURL
          source: >
            curl -X POST
            https://seller-api.topi.eu/v1/catalog/products_paginated \
              -H "Authorization: Bearer $ACCESS_TOKEN" \
              -H "Content-Type: application/json" \
              -d '{
              "filtering_logic": "OR",
              "filtering_options": [
                {
                  "operation": ">",
                  "property": "abc123",
                  "value": "abc123"
                }
              ]
            }'
        - lang: javascript
          label: JavaScript (fetch)
          source: >
            const response = await
            fetch('https://seller-api.topi.eu/v1/catalog/products_paginated', {
              method: 'POST',
              headers: {
                'Authorization': `Bearer ${ACCESS_TOKEN}`,
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
              "filtering_logic": "OR",
              "filtering_options": [
                {
                  "operation": ">",
                  "property": "abc123",
                  "value": "abc123"
                }
              ]
            })

            });


            const data = await response.json();

            console.log(data);
  /v1/offers:
    get:
      tags:
        - offer
      summary: List all offers (deprecated)
      description: >-
        Lists the offers created by the calling seller, with filters or query.
        (deprecated)


        This method is deprecated. Please use [List all offers with
        pagination](#/offer/listOffersPaginated) instead.
      operationId: offer#listOffers
      parameters:
        - name: query
          in: query
          description: Search query. It can be a string or a number or both
          allowEmptyValue: true
          schema:
            type: string
            description: Search query. It can be a string or a number or both
            example: status
          examples:
            default:
              summary: default
              value: status
        - name: created_by
          in: query
          description: a comma-separated list of sales agents emails
          allowEmptyValue: true
          schema:
            type: string
            description: a comma-separated list of sales agents emails
            example: sales-agent@example.com,anothergreatone@example.com
          example: sales-agent@example.com,anothergreatone@example.com
        - name: partners_only
          in: query
          description: >-
            a boolean indicating whether to retrieve offers from partner sellers
            only
          allowEmptyValue: true
          schema:
            type: boolean
            description: >-
              a boolean indicating whether to retrieve offers from partner
              sellers only
            example: false
          example: false
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OfferResult'
                example:
                  - checkout_redirect_url: https://example.com/foo
                    created_at: '1970-01-01T00:00:01Z'
                    customer:
                      company:
                        billing_address:
                          city: Munich
                          country_code: DE
                          line1: 10 Downing Street
                          line2: Flat 42
                          postal_code: '10243'
                          region: Bavaria
                        name: Unicorn Corp
                        tax_number: '123456789'
                        vat_number: DE123456789
                      customer_group: education
                      email: alice@example.com
                      full_name: John Butler
                      phone_number: abc123
                    expires_at: '1970-01-01T00:00:01Z'
                    id: 739b63c2-9e58-4964-b38d-4ebb424de242
                    lines:
                      - applied_discount_id: abc123
                        available_contract_terms:
                          pay_now:
                            amount:
                              currency: EUR
                              gross: 119000
                              net: 100000
                              tax_rate: 1900
                            id: 739b63c2-9e58-4964-b38d-4ebb424de242
                          rent:
                            duration: 12
                            id: 739b63c2-9e58-4964-b38d-4ebb424de242
                            monthly_amount:
                              currency: EUR
                              gross: 119000
                              net: 100000
                              tax_rate: 1900
                        base_rental_price:
                          currency: EUR
                          gross: 119000
                          net: 100000
                        bundle_id: abc123
                        id: 739b63c2-9e58-4964-b38d-4ebb424de242
                        origin: abc123
                        pretty_id: abc123
                        price:
                          currency: EUR
                          gross: 119000
                          net: 100000
                        pricing_category: abc123
                        product_id: abc123
                        quantity: 2
                        selected_contract_type: abc123
                        seller_product_references:
                          - reference: 123ab-5343
                            source: sap
                        sublines:
                          - applied_discount_id: abc123
                            available_contract_terms:
                              pay_now:
                                amount:
                                  currency: EUR
                                  gross: 119000
                                  net: 100000
                                  tax_rate: 1900
                                id: 739b63c2-9e58-4964-b38d-4ebb424de242
                              rent:
                                duration: 12
                                id: 739b63c2-9e58-4964-b38d-4ebb424de242
                                monthly_amount:
                                  currency: EUR
                                  gross: 119000
                                  net: 100000
                                  tax_rate: 1900
                            base_rental_price:
                              currency: EUR
                              gross: 119000
                              net: 100000
                            bundle_id: abc123
                            id: 739b63c2-9e58-4964-b38d-4ebb424de242
                            origin: abc123
                            pretty_id: abc123
                            price:
                              currency: EUR
                              gross: 119000
                              net: 100000
                            pricing_category: abc123
                            product_id: abc123
                            quantity: 2
                            selected_contract_type: abc123
                            seller_product_references:
                              - reference: 123ab-5343
                                source: sap
                            subtitle: abc123
                            title: abc123
                        subtitle: abc123
                        title: abc123
                    metadata:
                      affiliate_code: '123456'
                    pricing_overview:
                      breakdown:
                        - amount:
                            currency: EUR
                            gross: 119000
                            net: 100000
                          title: Monthly (x36)
                          tooltip: >-
                            The first rent fee is included in the first payment.
                            More details later, in topi checkout.
                      instead_of_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                      items_summaries:
                        - identifier: abc123
                          pay_now:
                            pay_now_amount:
                              currency: EUR
                              gross: 119000
                              net: 100000
                          pay_now_excluding_sublines:
                            pay_now_amount:
                              currency: EUR
                              gross: 119000
                              net: 100000
                          rent:
                            - duration: 12
                              monthly_amount:
                                currency: EUR
                                gross: 119000
                                net: 100000
                          rent_excluding_sublines:
                            - duration: 12
                              monthly_amount:
                                currency: EUR
                                gross: 119000
                                net: 100000
                          total_pay_now:
                            pay_now_amount:
                              currency: EUR
                              gross: 119000
                              net: 100000
                          total_rent:
                            - duration: 12
                              monthly_amount:
                                currency: EUR
                                gross: 119000
                                net: 100000
                      shipping_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                      total_amount:
                        currency: EUR
                        gross: 119000
                        net: 100000
                    sales_agent:
                      email: alice@example.com
                      external_agent_id: abc123
                      name: abc123
                      phone: abc123
                    sales_channel: ecommerce
                    seller_offer_redirect_url: https://example.com/foo
                    seller_offer_reference: ref-1234
                    shipping:
                      is_in_store_pickup: false
                      price:
                        currency: EUR
                        gross: 119000
                        net: 100000
                      seller_shipping_reference: Sandbox Shipping Service
                    shipping_address:
                      city: Munich
                      country_code: DE
                      line1: 10 Downing Street
                      line2: Flat 42
                      postal_code: '10243'
                      recipient_name: Felix Wolf
                      region: Bavaria
                    status: voided
              example:
                - checkout_redirect_url: https://example.com/foo
                  created_at: '1970-01-01T00:00:01Z'
                  customer:
                    company:
                      billing_address:
                        city: Munich
                        country_code: DE
                        line1: 10 Downing Street
                        line2: Flat 42
                        postal_code: '10243'
                        region: Bavaria
                      name: Unicorn Corp
                      tax_number: '123456789'
                      vat_number: DE123456789
                    customer_group: education
                    email: alice@example.com
                    full_name: John Butler
                    phone_number: abc123
                  expires_at: '1970-01-01T00:00:01Z'
                  id: 739b63c2-9e58-4964-b38d-4ebb424de242
                  lines:
                    - applied_discount_id: abc123
                      available_contract_terms:
                        pay_now:
                          amount:
                            currency: EUR
                            gross: 119000
                            net: 100000
                            tax_rate: 1900
                          id: 739b63c2-9e58-4964-b38d-4ebb424de242
                        rent:
                          duration: 12
                          id: 739b63c2-9e58-4964-b38d-4ebb424de242
                          monthly_amount:
                            currency: EUR
                            gross: 119000
                            net: 100000
                            tax_rate: 1900
                      base_rental_price:
                        currency: EUR
                        gross: 119000
                        net: 100000
                      bundle_id: abc123
                      id: 739b63c2-9e58-4964-b38d-4ebb424de242
                      origin: abc123
                      pretty_id: abc123
                      price:
                        currency: EUR
                        gross: 119000
                        net: 100000
                      pricing_category: abc123
                      product_id: abc123
                      quantity: 2
                      selected_contract_type: abc123
                      seller_product_references:
                        - reference: 123ab-5343
                          source: sap
                      sublines:
                        - applied_discount_id: abc123
                          available_contract_terms:
                            pay_now:
                              amount:
                                currency: EUR
                                gross: 119000
                                net: 100000
                                tax_rate: 1900
                              id: 739b63c2-9e58-4964-b38d-4ebb424de242
                            rent:
                              duration: 12
                              id: 739b63c2-9e58-4964-b38d-4ebb424de242
                              monthly_amount:
                                currency: EUR
                                gross: 119000
                                net: 100000
                                tax_rate: 1900
                          base_rental_price:
                            currency: EUR
                            gross: 119000
                            net: 100000
                          bundle_id: abc123
                          id: 739b63c2-9e58-4964-b38d-4ebb424de242
                          origin: abc123
                          pretty_id: abc123
                          price:
                            currency: EUR
                            gross: 119000
                            net: 100000
                          pricing_category: abc123
                          product_id: abc123
                          quantity: 2
                          selected_contract_type: abc123
                          seller_product_references:
                            - reference: 123ab-5343
                              source: sap
                          subtitle: abc123
                          title: abc123
                      subtitle: abc123
                      title: abc123
                  metadata:
                    affiliate_code: '123456'
                  pricing_overview:
                    breakdown:
                      - amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                        title: Monthly (x36)
                        tooltip: >-
                          The first rent fee is included in the first payment.
                          More details later, in topi checkout.
                    instead_of_amount:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    items_summaries:
                      - identifier: abc123
                        pay_now:
                          pay_now_amount:
                            currency: EUR
                            gross: 119000
                            net: 100000
                        pay_now_excluding_sublines:
                          pay_now_amount:
                            currency: EUR
                            gross: 119000
                            net: 100000
                        rent:
                          - duration: 12
                            monthly_amount:
                              currency: EUR
                              gross: 119000
                              net: 100000
                        rent_excluding_sublines:
                          - duration: 12
                            monthly_amount:
                              currency: EUR
                              gross: 119000
                              net: 100000
                        total_pay_now:
                          pay_now_amount:
                            currency: EUR
                            gross: 119000
                            net: 100000
                        total_rent:
                          - duration: 12
                            monthly_amount:
                              currency: EUR
                              gross: 119000
                              net: 100000
                    shipping_amount:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    total_amount:
                      currency: EUR
                      gross: 119000
                      net: 100000
                  sales_agent:
                    email: alice@example.com
                    external_agent_id: abc123
                    name: abc123
                    phone: abc123
                  sales_channel: ecommerce
                  seller_offer_redirect_url: https://example.com/foo
                  seller_offer_reference: ref-1234
                  shipping:
                    is_in_store_pickup: false
                    price:
                      currency: EUR
                      gross: 119000
                      net: 100000
                    seller_shipping_reference: Sandbox Shipping Service
                  shipping_address:
                    city: Munich
                    country_code: DE
                    line1: 10 Downing Street
                    line2: Flat 42
                    postal_code: '10243'
                    recipient_name: Felix Wolf
                    region: Bavaria
                  status: voided
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '403':
          description: 'InvalidScopes: Forbidden response.'
          content:
            application/json:
              schema:
                type: string
                example: abc123
              example: abc123
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: true
      security:
        - OAuth2Seller_header_Authorization:
            - seller-offer:read
      x-code-samples:
        - lang: curl
          label: cURL
          source: |
            curl -X GET https://seller-api.topi.eu/v1/offers \
              -H "Authorization: Bearer $ACCESS_TOKEN"
        - lang: javascript
          label: JavaScript (fetch)
          source: >
            const response = await fetch('https://seller-api.topi.eu/v1/offers',
            {
              method: 'GET',
              headers: {
                'Authorization': `Bearer ${ACCESS_TOKEN}`
              }
            });


            const data = await response.json();

            console.log(data);
    post:
      tags:
        - offer
      summary: Create an offer
      description: >
        Creates a topi offer.


        Returns HTTP 200 plus basic information about the offer on success.


        The request returns an HTTP Unprocessable Entity in the following
        scenarios:


        - When `"lines"` is an empty array.

        - When `"lines"` contains any products that are not available in the
        topi catalog

        - When the `"seller_offer_reference"` is reusing a value of an offer
        that is currently active


        ## When using in the Sandbox


        The following seller offer references are considered to be "active":


        - `"ref-1234"`


        The following seller product references are considered to be available
        in the catalog:


        - `{"source": "sap", "reference": "123"}`

        - `{"source": "sap", "reference": "456"}`

        - `{"source": "sku", "reference": "123abc"}`


        The following seller product references are considered to be available
        in the catalog but not supported:


        - `{"source": "sku", "reference": "unsupported-1"}`


        The following shipping reference is considered to be available but not
        supported:


        - `"unsupported-shipping-reference"`
      operationId: offer#create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePayload2'
            example:
              customer:
                company:
                  billing_address:
                    city: Munich
                    country_code: DE
                    line1: 10 Downing Street
                    line2: Flat 42
                    postal_code: '10243'
                    region: Bavaria
                  name: Unicorn Corp
                  tax_number: '123456789'
                  vat_number: DE123456789
                customer_group: education
                email: alice@example.com
                full_name: John Butler
                phone_number: abc123
              draft_offer_id: abc123
              exit_redirect: https://example.com/foo
              expires_at: '1970-01-01T00:00:01Z'
              lines:
                - base_rental_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  bundle_index: abc123
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  product_id: abc123
                  quantity: 2
                  seller_product_reference:
                    reference: 123ab-5343
                    source: sap
                  sub_lines:
                    - base_rental_price:
                        currency: EUR
                        gross: 119000
                        net: 100000
                      bundle_index: abc123
                      price:
                        currency: EUR
                        gross: 119000
                        net: 100000
                      product_id: abc123
                      quantity: 2
                      seller_product_reference:
                        reference: 123ab-5343
                        source: sap
                      subtitle: abc123
                      title: abc123
                  subtitle: abc123
                  title: abc123
                - base_rental_price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  bundle_index: abc123
                  price:
                    currency: EUR
                    gross: 119000
                    net: 100000
                  product_id: abc123
                  quantity: 2
                  seller_product_reference:
                    reference: 123ab-5343
                    source: sap
                  sub_lines:
                    - base_rental_price:
                        currency: EUR
                        gross: 119000
                        net: 100000
                      bundle_index: abc123
                      price:
                        currency: EUR
                        gross: 119000
                        net: 100000
                      product_id: abc123
                      quantity: 2
                      seller_product_reference:
                        reference: 123ab-5343
                        source: sap
                      subtitle: abc123
                      title: abc123
                  subtitle: abc123
                  title: abc123
              metadata:
                affiliate_code: '123456'
              sales_agent:
                email: alice@example.com
                external_agent_id: abc123
                name: abc123
                phone: abc123
              sales_channel: ecommerce
              seller_offer_reference: ref-1234
              shipping:
                is_in_store_pickup: false
                price:
                  currency: EUR
                  gross: 119000
                  net: 100000
                seller_shipping_reference: Sandbox Shipping Service
              shipping_address:
                city: Munich
                country_code: DE
                line1: 10 Downing Street
                line2: Flat 42
                postal_code: '10243'
                recipient_name: Felix Wolf
                region: Bavaria
              success_redirect: https://example.com/foo
      responses:
        '201':
          description: Created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferResult'
              example:
                checkout_redirect_url: https://example.com/foo
                created_at: '1970-01-01T00:00:01Z'
                customer:
                  company:
                    billing_address:
                      city: Munich
                      country_code: DE
                      line1: 10 Downing Street
                      line2: Flat 42
                      postal_code: '10243'
                      region: Bavaria
                    name: Unicorn Corp
                    tax_number: '123456789'
                    vat_number: DE123456789
                  customer_group: education
                  email: alice@example.com
                  full_name: John Butler
                  phone_number: abc123
                expires_at: '1970-01-01T00:00:01Z'
                id: 739b63c2-9e58-4964-b38d-4ebb424de242
                lines:
                  - applied_discount_id: abc123
                    available_contract_terms:
                      pay_now:
                        amount:
                          currency: EUR
                          gross: 119000
                          net: 100000
                          tax_rate: 1900
[...]
